body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16040 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u16041 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u16043 {
  position:absolute;
  left:23px;
  top:77px;
  width:814px;
  height:1px;
}
#u16044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(48, 177, 155, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16045 {
  position:absolute;
  left:20px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u16046 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16047 {
  position:absolute;
  left:134px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16048 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16049 {
  position:absolute;
  left:245px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16050 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16051 {
  position:absolute;
  left:354px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16052 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16053 {
  position:absolute;
  left:460px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16054 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16055 {
  position:absolute;
  left:560px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16056 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16057 {
  position:absolute;
  left:660px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16058 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16059 {
  position:absolute;
  left:750px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16060 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16061 {
  position:absolute;
  left:254px;
  top:370px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16062 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u16063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16063 {
  position:absolute;
  left:80px;
  top:99px;
  width:137px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16064 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u16065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16065 {
  position:absolute;
  left:80px;
  top:157px;
  width:119px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16066 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u16067 {
  position:absolute;
  left:230px;
  top:99px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16068 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16067_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16069 {
  position:absolute;
  left:272px;
  top:98px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16070 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16069_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16071 {
  position:absolute;
  left:230px;
  top:158px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16072 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16071_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16073 {
  position:absolute;
  left:272px;
  top:158px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16074 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16073_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16075 {
  position:absolute;
  left:80px;
  top:223px;
  width:79px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16076 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16077 {
  position:absolute;
  left:189px;
  top:224px;
  width:100px;
  height:16px;
}
#u16078 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16077_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16079 {
  position:absolute;
  left:302px;
  top:224px;
  width:100px;
  height:16px;
}
#u16080 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16079_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16081 {
  position:absolute;
  left:438px;
  top:224px;
  width:100px;
  height:16px;
}
#u16082 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16083 {
  position:absolute;
  left:538px;
  top:224px;
  width:100px;
  height:16px;
}
#u16084 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16083_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16085 {
  position:absolute;
  left:67px;
  top:139px;
  visibility:hidden;
}
#u16085_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:644px;
  height:129px;
  background-image:none;
}
#u16085_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:129px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16086 {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:129px;
}
#u16087 {
  position:absolute;
  left:2px;
  top:56px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16088 {
  position:absolute;
  left:164px;
  top:461px;
  width:332px;
  height:150px;
}
#u16089 {
  position:absolute;
  left:10px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
