body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23077 {
  position:absolute;
  left:20px;
  top:20px;
  width:971px;
  height:50px;
}
#u23078 {
  position:absolute;
  left:2px;
  top:17px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23079 {
  position:absolute;
  left:20px;
  top:70px;
  width:976px;
  height:155px;
}
#u23080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23080 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23081 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23082 {
  position:absolute;
  left:308px;
  top:0px;
  width:663px;
  height:50px;
}
#u23083 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23084 {
  position:absolute;
  left:0px;
  top:50px;
  width:308px;
  height:50px;
}
#u23085 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23086 {
  position:absolute;
  left:308px;
  top:50px;
  width:663px;
  height:50px;
}
#u23087 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23088 {
  position:absolute;
  left:0px;
  top:100px;
  width:308px;
  height:50px;
}
#u23089 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23090 {
  position:absolute;
  left:308px;
  top:100px;
  width:663px;
  height:50px;
}
#u23091 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23092 {
  position:absolute;
  left:360px;
  top:79px;
  width:370px;
  height:33px;
}
#u23093 {
  position:absolute;
  left:2px;
  top:9px;
  width:366px;
  word-wrap:break-word;
}
#u23094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23094 {
  position:absolute;
  left:360px;
  top:130px;
  width:370px;
  height:33px;
}
#u23095 {
  position:absolute;
  left:2px;
  top:9px;
  width:366px;
  word-wrap:break-word;
}
#u23096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23096 {
  position:absolute;
  left:360px;
  top:180px;
  width:370px;
  height:33px;
}
#u23097 {
  position:absolute;
  left:2px;
  top:9px;
  width:366px;
  word-wrap:break-word;
}
#u23098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23098 {
  position:absolute;
  left:40px;
  top:37px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23099 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23100 {
  position:absolute;
  left:20px;
  top:220px;
  width:971px;
  height:50px;
}
#u23101 {
  position:absolute;
  left:2px;
  top:17px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23102 {
  position:absolute;
  left:40px;
  top:237px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23103 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23104 {
  position:absolute;
  left:20px;
  top:270px;
  width:976px;
  height:305px;
}
#u23105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23105 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23106 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23107 {
  position:absolute;
  left:308px;
  top:0px;
  width:663px;
  height:50px;
}
#u23108 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23109 {
  position:absolute;
  left:0px;
  top:50px;
  width:308px;
  height:50px;
}
#u23110 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23111 {
  position:absolute;
  left:308px;
  top:50px;
  width:663px;
  height:50px;
}
#u23112 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23113 {
  position:absolute;
  left:0px;
  top:100px;
  width:308px;
  height:50px;
}
#u23114 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23115 {
  position:absolute;
  left:308px;
  top:100px;
  width:663px;
  height:50px;
}
#u23116 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23117 {
  position:absolute;
  left:0px;
  top:150px;
  width:308px;
  height:50px;
}
#u23118 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23119 {
  position:absolute;
  left:308px;
  top:150px;
  width:663px;
  height:50px;
  text-align:left;
}
#u23120 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23121 {
  position:absolute;
  left:0px;
  top:200px;
  width:308px;
  height:50px;
}
#u23122 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23123 {
  position:absolute;
  left:308px;
  top:200px;
  width:663px;
  height:50px;
  text-align:left;
}
#u23124 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23125 {
  position:absolute;
  left:0px;
  top:250px;
  width:308px;
  height:50px;
}
#u23126 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u23127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:50px;
}
#u23127 {
  position:absolute;
  left:308px;
  top:250px;
  width:663px;
  height:50px;
  text-align:left;
}
#u23128 {
  position:absolute;
  left:2px;
  top:17px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23129 {
  position:absolute;
  left:370px;
  top:280px;
  width:370px;
  height:33px;
}
#u23130 {
  position:absolute;
  left:2px;
  top:9px;
  width:366px;
  word-wrap:break-word;
}
#u23131 {
  position:absolute;
  left:370px;
  top:434px;
  width:240px;
  height:22px;
}
#u23131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23131_input:disabled {
  color:grayText;
}
#u23132 {
  position:absolute;
  left:370px;
  top:388px;
  width:240px;
  height:22px;
}
#u23132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23132_input:disabled {
  color:grayText;
}
#u23133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23133 {
  position:absolute;
  left:371px;
  top:477px;
  width:160px;
  height:33px;
}
#u23134 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23135 {
  position:absolute;
  left:507px;
  top:484px;
  width:20px;
  height:20px;
}
#u23136 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23137 {
  position:absolute;
  left:370px;
  top:527px;
  width:160px;
  height:33px;
}
#u23138 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23139 {
  position:absolute;
  left:506px;
  top:534px;
  width:20px;
  height:20px;
}
#u23140 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23141 {
  position:absolute;
  left:1045px;
  top:268px;
  width:305px;
  height:150px;
}
#u23142 {
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u23143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u23143 {
  position:absolute;
  left:370px;
  top:327px;
  width:370px;
  height:33px;
  font-size:12px;
  color:#000000;
}
#u23144 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u23145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23145 {
  position:absolute;
  left:1051px;
  top:70px;
  width:305px;
  height:150px;
}
#u23146 {
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u23147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23147 {
  position:absolute;
  left:391px;
  top:615px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u23148 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23149 {
  position:absolute;
  left:553px;
  top:615px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u23150 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23151 {
  position:absolute;
  left:20px;
  top:570px;
  width:976px;
  height:42px;
}
#u23152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
}
#u23152 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
}
#u23153 {
  position:absolute;
  left:2px;
  top:11px;
  width:303px;
  word-wrap:break-word;
}
#u23154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:37px;
}
#u23154 {
  position:absolute;
  left:307px;
  top:0px;
  width:664px;
  height:37px;
}
#u23155 {
  position:absolute;
  left:2px;
  top:10px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23156 {
  position:absolute;
  left:372px;
  top:575px;
  width:161px;
  height:27px;
}
#u23157 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23158 {
  position:absolute;
  left:543px;
  top:580px;
  width:15px;
  height:18px;
}
#u23159 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
