body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:600px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47430 {
  position:absolute;
  left:300px;
  top:200px;
  width:401px;
  height:600px;
}
#u47431 {
  position:absolute;
  left:2px;
  top:292px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47433 {
  position:absolute;
  left:300px;
  top:200px;
  width:401px;
  height:50px;
}
#u47434 {
  position:absolute;
  left:2px;
  top:17px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u47435 {
  position:absolute;
  left:307px;
  top:207px;
  width:35px;
  height:35px;
}
#u47436 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47437 {
  position:absolute;
  left:488px;
  top:217px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u47438 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47439 {
  position:absolute;
  left:300px;
  top:258px;
  width:401px;
  height:55px;
}
#u47440 {
  position:absolute;
  left:2px;
  top:20px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u47441 {
  position:absolute;
  left:346px;
  top:416px;
  width:310px;
  height:40px;
  font-size:16px;
}
#u47442 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u47443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u47443 {
  position:absolute;
  left:318px;
  top:269px;
  width:357px;
  height:33px;
  color:#CCCCCC;
  text-align:left;
}
#u47444 {
  position:absolute;
  left:2px;
  top:9px;
  width:353px;
  word-wrap:break-word;
}
#u47445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47445 {
  position:absolute;
  left:744px;
  top:275px;
  width:300px;
  height:15px;
}
#u47446 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u47447_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u47447 {
  position:absolute;
  left:725px;
  top:220px;
  width:30px;
  height:30px;
}
#u47448 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u47449 {
  position:absolute;
  left:725px;
  top:235px;
  width:0px;
  height:0px;
}
#u47449_seg0 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u47449_seg1 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:8px;
  height:59px;
}
#u47449_seg2 {
  position:absolute;
  left:-24px;
  top:47px;
  width:16px;
  height:8px;
}
#u47450 {
  position:absolute;
  left:-62px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
