body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47912 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u47913 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47914 {
  position:absolute;
  left:44px;
  top:42px;
  width:844px;
  height:565px;
}
#u47915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47915 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47916 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47917 {
  position:absolute;
  left:168px;
  top:0px;
  width:671px;
  height:45px;
}
#u47918 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47919 {
  position:absolute;
  left:0px;
  top:45px;
  width:168px;
  height:45px;
}
#u47920 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47921 {
  position:absolute;
  left:168px;
  top:45px;
  width:671px;
  height:45px;
}
#u47922 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47923 {
  position:absolute;
  left:0px;
  top:90px;
  width:168px;
  height:45px;
}
#u47924 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47925 {
  position:absolute;
  left:168px;
  top:90px;
  width:671px;
  height:45px;
}
#u47926 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47927 {
  position:absolute;
  left:0px;
  top:135px;
  width:168px;
  height:45px;
}
#u47928 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47929 {
  position:absolute;
  left:168px;
  top:135px;
  width:671px;
  height:45px;
}
#u47930 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47931 {
  position:absolute;
  left:0px;
  top:180px;
  width:168px;
  height:45px;
}
#u47932 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47933 {
  position:absolute;
  left:168px;
  top:180px;
  width:671px;
  height:45px;
}
#u47934 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47935 {
  position:absolute;
  left:0px;
  top:225px;
  width:168px;
  height:45px;
}
#u47936 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47937 {
  position:absolute;
  left:168px;
  top:225px;
  width:671px;
  height:45px;
}
#u47938 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47939 {
  position:absolute;
  left:0px;
  top:270px;
  width:168px;
  height:45px;
}
#u47940 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47941 {
  position:absolute;
  left:168px;
  top:270px;
  width:671px;
  height:45px;
}
#u47942 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47943 {
  position:absolute;
  left:0px;
  top:315px;
  width:168px;
  height:45px;
}
#u47944 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47945 {
  position:absolute;
  left:168px;
  top:315px;
  width:671px;
  height:45px;
}
#u47946 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
#u47947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:200px;
}
#u47947 {
  position:absolute;
  left:0px;
  top:360px;
  width:168px;
  height:200px;
}
#u47948 {
  position:absolute;
  left:2px;
  top:92px;
  width:164px;
  word-wrap:break-word;
}
#u47949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:200px;
}
#u47949 {
  position:absolute;
  left:168px;
  top:360px;
  width:671px;
  height:200px;
}
#u47950 {
  position:absolute;
  left:2px;
  top:92px;
  width:667px;
  word-wrap:break-word;
}
#u47951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u47951 {
  position:absolute;
  left:372px;
  top:631px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u47952 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u47953 {
  position:absolute;
  left:44px;
  top:-3px;
  width:844px;
  height:50px;
}
#u47954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47954 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47955 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u47956 {
  position:absolute;
  left:168px;
  top:0px;
  width:671px;
  height:45px;
}
#u47957 {
  position:absolute;
  left:2px;
  top:15px;
  width:667px;
  word-wrap:break-word;
}
