body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17563 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u17564 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17565 {
  position:absolute;
  left:50px;
  top:57px;
  width:505px;
  height:50px;
}
#u17566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u17566 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u17567 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u17568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u17568 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:45px;
}
#u17569 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u17570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u17570 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:45px;
}
#u17571 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u17572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u17572 {
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:45px;
}
#u17573 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
