body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:627px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u54208 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u54209 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54210 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u54211 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u54212 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u54213 {
  position:absolute;
  left:356px;
  top:6px;
  width:41px;
  height:32px;
}
#u54214 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u54215 {
  position:absolute;
  left:156px;
  top:10px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u54216 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u54218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54218 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u54219 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54220 {
  position:absolute;
  left:0px;
  top:86px;
  width:414px;
  height:630px;
}
#u54221 {
  position:absolute;
  left:2px;
  top:307px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54222 {
  position:absolute;
  left:27px;
  top:95px;
  width:57px;
  height:16px;
}
#u54223 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u54224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54224 {
  position:absolute;
  left:21px;
  top:97px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54225 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54226 {
  position:absolute;
  left:144px;
  top:91px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54227 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54228 {
  position:absolute;
  left:18px;
  top:147px;
  width:396px;
  height:1px;
}
#u54229 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54230 {
  position:absolute;
  left:334px;
  top:101px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54231 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.368627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54232 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:41px;
}
#u54233 {
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54234 {
  position:absolute;
  left:18px;
  top:55px;
  width:153px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54235 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u54236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54236 {
  position:absolute;
  left:18px;
  top:217px;
  width:396px;
  height:1px;
}
#u54237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54238 {
  position:absolute;
  left:21px;
  top:231px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54239 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54240 {
  position:absolute;
  left:144px;
  top:225px;
  width:109px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54241 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u54242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54242 {
  position:absolute;
  left:18px;
  top:281px;
  width:396px;
  height:1px;
}
#u54243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54244 {
  position:absolute;
  left:334px;
  top:235px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54245 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54246 {
  position:absolute;
  left:18px;
  top:351px;
  width:396px;
  height:1px;
}
#u54247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54248 {
  position:absolute;
  left:21px;
  top:362px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54249 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54250 {
  position:absolute;
  left:144px;
  top:356px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54251 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54252 {
  position:absolute;
  left:18px;
  top:412px;
  width:396px;
  height:1px;
}
#u54253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54254 {
  position:absolute;
  left:334px;
  top:366px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54255 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54256 {
  position:absolute;
  left:18px;
  top:482px;
  width:396px;
  height:1px;
}
#u54257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54258 {
  position:absolute;
  left:21px;
  top:493px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54259 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54260 {
  position:absolute;
  left:144px;
  top:487px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54261 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54262 {
  position:absolute;
  left:18px;
  top:543px;
  width:396px;
  height:1px;
}
#u54263 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54264 {
  position:absolute;
  left:334px;
  top:497px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54265 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u54266 {
  position:absolute;
  left:18px;
  top:613px;
  width:396px;
  height:1px;
}
#u54267 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54268 {
  position:absolute;
  left:21px;
  top:161px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54269 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54270 {
  position:absolute;
  left:144px;
  top:155px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54271 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54272 {
  position:absolute;
  left:334px;
  top:165px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54273 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54274 {
  position:absolute;
  left:21px;
  top:298px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54275 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54276 {
  position:absolute;
  left:144px;
  top:292px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54277 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54278 {
  position:absolute;
  left:334px;
  top:302px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54279 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54280 {
  position:absolute;
  left:21px;
  top:429px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54281 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54282 {
  position:absolute;
  left:144px;
  top:423px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54283 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54284 {
  position:absolute;
  left:334px;
  top:433px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54285 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54286 {
  position:absolute;
  left:21px;
  top:560px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u54287 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u54288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54288 {
  position:absolute;
  left:144px;
  top:554px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u54289 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u54290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54290 {
  position:absolute;
  left:334px;
  top:564px;
  width:57px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u54291 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54292 {
  position:absolute;
  left:80px;
  top:122px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54293 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54294 {
  position:absolute;
  left:80px;
  top:193px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54295 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54296 {
  position:absolute;
  left:80px;
  top:254px;
  width:221px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54297 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u54298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54298 {
  position:absolute;
  left:80px;
  top:322px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54299 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54300 {
  position:absolute;
  left:80px;
  top:389px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54301 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54302 {
  position:absolute;
  left:80px;
  top:452px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54303 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54304 {
  position:absolute;
  left:80px;
  top:520px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54305 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u54306 {
  position:absolute;
  left:80px;
  top:589px;
  width:232px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u54307 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u54308 {
  position:absolute;
  left:19px;
  top:90px;
  width:372px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54309 {
  position:absolute;
  left:25px;
  top:221px;
  width:382px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54310_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u54310 {
  position:absolute;
  left:454px;
  top:114px;
  width:30px;
  height:30px;
}
#u54311 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u54312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54312 {
  position:absolute;
  left:501px;
  top:114px;
  width:126px;
  height:16px;
}
#u54313 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u54314 {
  position:absolute;
  left:454px;
  top:129px;
  width:0px;
  height:0px;
}
#u54314_seg0 {
  position:absolute;
  left:-41px;
  top:-4px;
  width:41px;
  height:8px;
}
#u54314_seg1 {
  position:absolute;
  left:-41px;
  top:-2px;
  width:8px;
  height:6px;
}
#u54315 {
  position:absolute;
  left:-70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
