body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:149px;
}
#u2105 {
  position:absolute;
  left:27px;
  top:40px;
  width:823px;
  height:149px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:66px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
