body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:757px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u56648 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u56649 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56650 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u56651 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u56652 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u56653 {
  position:absolute;
  left:168px;
  top:10px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u56654 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u56655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u56655 {
  position:absolute;
  left:359px;
  top:6px;
  width:41px;
  height:32px;
}
#u56656 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56658 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u56659 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u56660 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:51px;
  font-size:14px;
  color:#FF0000;
}
#u56661 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56662 {
  position:absolute;
  left:22px;
  top:101px;
  width:174px;
  height:16px;
}
#u56663 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u56664 {
  position:absolute;
  left:0px;
  top:146px;
  width:419px;
  height:147px;
}
#u56665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u56665 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56666 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u56667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u56667 {
  position:absolute;
  left:207px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56668 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u56669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56669 {
  position:absolute;
  left:0px;
  top:30px;
  width:207px;
  height:36px;
}
#u56670 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u56671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56671 {
  position:absolute;
  left:207px;
  top:30px;
  width:207px;
  height:36px;
}
#u56672 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56673 {
  position:absolute;
  left:0px;
  top:66px;
  width:207px;
  height:36px;
}
#u56674 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u56675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56675 {
  position:absolute;
  left:207px;
  top:66px;
  width:207px;
  height:36px;
}
#u56676 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u56677 {
  position:absolute;
  left:0px;
  top:102px;
  width:207px;
  height:40px;
}
#u56678 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u56679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u56679 {
  position:absolute;
  left:207px;
  top:102px;
  width:207px;
  height:40px;
}
#u56680 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56681 {
  position:absolute;
  left:298px;
  top:183px;
  width:25px;
  height:25px;
}
#u56682 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56683 {
  position:absolute;
  left:298px;
  top:219px;
  width:25px;
  height:25px;
}
#u56684 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56685 {
  position:absolute;
  left:298px;
  top:254px;
  width:25px;
  height:25px;
}
#u56686 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u56687 {
  position:absolute;
  left:360px;
  top:62px;
  width:31px;
  height:16px;
}
#u56688 {
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u56689 {
  position:absolute;
  left:0px;
  top:489px;
  width:414px;
  height:51px;
  font-size:14px;
  color:#FF0000;
}
#u56690 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56691 {
  position:absolute;
  left:22px;
  top:292px;
  width:174px;
  height:16px;
}
#u56692 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u56693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u56693 {
  position:absolute;
  left:356px;
  top:507px;
  width:31px;
  height:16px;
}
#u56694 {
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009DD9;
}
#u56695 {
  position:absolute;
  left:122px;
  top:223px;
  width:47px;
  height:17px;
  font-size:10px;
  color:#009DD9;
}
#u56696 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u56697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009DD9;
}
#u56697 {
  position:absolute;
  left:122px;
  top:259px;
  width:47px;
  height:17px;
  font-size:10px;
  color:#009DD9;
}
#u56698 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u56699 {
  position:absolute;
  left:0px;
  top:336px;
  width:419px;
  height:147px;
}
#u56700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u56700 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56701 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u56702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u56702 {
  position:absolute;
  left:207px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56703 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u56704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56704 {
  position:absolute;
  left:0px;
  top:30px;
  width:207px;
  height:36px;
}
#u56705 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u56706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56706 {
  position:absolute;
  left:207px;
  top:30px;
  width:207px;
  height:36px;
}
#u56707 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56708 {
  position:absolute;
  left:0px;
  top:66px;
  width:207px;
  height:36px;
}
#u56709 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u56710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u56710 {
  position:absolute;
  left:207px;
  top:66px;
  width:207px;
  height:36px;
}
#u56711 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u56712 {
  position:absolute;
  left:0px;
  top:102px;
  width:207px;
  height:40px;
}
#u56713 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u56714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u56714 {
  position:absolute;
  left:207px;
  top:102px;
  width:207px;
  height:40px;
}
#u56715 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56716 {
  position:absolute;
  left:300px;
  top:373px;
  width:25px;
  height:25px;
}
#u56717 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56718 {
  position:absolute;
  left:300px;
  top:409px;
  width:25px;
  height:25px;
}
#u56719 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56720 {
  position:absolute;
  left:300px;
  top:444px;
  width:25px;
  height:25px;
}
#u56721 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009DD9;
}
#u56722 {
  position:absolute;
  left:120px;
  top:414px;
  width:47px;
  height:17px;
  font-size:10px;
  color:#009DD9;
}
#u56723 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u56724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009DD9;
}
#u56724 {
  position:absolute;
  left:120px;
  top:450px;
  width:47px;
  height:17px;
  font-size:10px;
  color:#009DD9;
}
#u56725 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u56726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56726 {
  position:absolute;
  left:20px;
  top:61px;
  width:221px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56727 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u56728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56728 {
  position:absolute;
  left:19px;
  top:504px;
  width:221px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56729 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u56730_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u56730 {
  position:absolute;
  left:500px;
  top:66px;
  width:30px;
  height:30px;
}
#u56731 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u56732 {
  position:absolute;
  left:500px;
  top:81px;
  width:0px;
  height:0px;
}
#u56732_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u56732_seg1 {
  position:absolute;
  left:-74px;
  top:-14px;
  width:8px;
  height:18px;
}
#u56732_seg2 {
  position:absolute;
  left:-86px;
  top:-14px;
  width:20px;
  height:8px;
}
#u56733 {
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56734 {
  position:absolute;
  left:540px;
  top:69px;
  width:211px;
  height:16px;
}
#u56735 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u56736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 154, 254, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u56736 {
  position:absolute;
  left:324px;
  top:107px;
  width:76px;
  height:30px;
  color:#439AFE;
}
#u56737 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u56738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 154, 254, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u56738 {
  position:absolute;
  left:324px;
  top:296px;
  width:76px;
  height:30px;
  color:#439AFE;
}
#u56739 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u56740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u56740 {
  position:absolute;
  left:0px;
  top:550px;
  width:414px;
  height:51px;
  font-size:14px;
  color:#FF0000;
}
#u56741 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u56742 {
  position:absolute;
  left:356px;
  top:568px;
  width:31px;
  height:16px;
}
#u56743 {
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56744 {
  position:absolute;
  left:19px;
  top:565px;
  width:221px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56745 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u56746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56746 {
  position:absolute;
  left:22px;
  top:124px;
  width:117px;
  height:16px;
}
#u56747 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u56748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56748 {
  position:absolute;
  left:22px;
  top:315px;
  width:117px;
  height:16px;
}
#u56749 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
