body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:619px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u52950 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u52951 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52952 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u52953 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u52954 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52955 {
  position:absolute;
  left:154px;
  top:10px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52956 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u52957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u52957 {
  position:absolute;
  left:358px;
  top:6px;
  width:41px;
  height:32px;
}
#u52958 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52960 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u52961 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52962 {
  position:absolute;
  left:0px;
  top:309px;
  width:414px;
  height:51px;
}
#u52963 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52964 {
  position:absolute;
  left:0px;
  top:615px;
  width:414px;
  height:148px;
}
#u52965 {
  position:absolute;
  left:2px;
  top:66px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u52966 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:140px;
  font-size:14px;
  color:#FF0000;
}
#u52967 {
  position:absolute;
  left:2px;
  top:62px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u52968 {
  position:absolute;
  left:59px;
  top:99px;
  width:25px;
  height:25px;
}
#u52969 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52970 {
  position:absolute;
  left:89px;
  top:101px;
  width:267px;
  height:16px;
}
#u52971 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u52972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52972 {
  position:absolute;
  left:0px;
  top:445px;
  width:414px;
  height:160px;
}
#u52973 {
  position:absolute;
  left:2px;
  top:72px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52974 {
  position:absolute;
  left:20px;
  top:480px;
  width:132px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52975 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u52976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52976 {
  position:absolute;
  left:20px;
  top:503px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52977 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u52978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52978 {
  position:absolute;
  left:20px;
  top:583px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52979 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u52980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52980 {
  position:absolute;
  left:20px;
  top:457px;
  width:133px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52981 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u52982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52982 {
  position:absolute;
  left:20px;
  top:525px;
  width:111px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52983 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u52984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52984 {
  position:absolute;
  left:20px;
  top:545px;
  width:235px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52985 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u52986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u52986 {
  position:absolute;
  left:312px;
  top:584px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u52987 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u52988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u52988 {
  position:absolute;
  left:311px;
  top:533px;
  width:50px;
  height:50px;
}
#u52989 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52990 {
  position:absolute;
  left:323px;
  top:543px;
  width:30px;
  height:30px;
}
#u52991 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52992 {
  position:absolute;
  left:20px;
  top:565px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52993 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u52994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52995 {
  position:absolute;
  left:20px;
  top:633px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52996 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u52997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52997 {
  position:absolute;
  left:20px;
  top:654px;
  width:68px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u52998 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u52999 {
  position:absolute;
  left:20px;
  top:676px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53000 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u53001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53001 {
  position:absolute;
  left:20px;
  top:702px;
  width:69px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53002 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u53003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53003 {
  position:absolute;
  left:20px;
  top:725px;
  width:92px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53004 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u53005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53005 {
  position:absolute;
  left:303px;
  top:633px;
  width:84px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53006 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u53007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53007 {
  position:absolute;
  left:355px;
  top:654px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53008 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u53009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53009 {
  position:absolute;
  left:335px;
  top:676px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53010 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u53011 {
  position:absolute;
  left:338px;
  top:702px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u53012 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u53013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u53013 {
  position:absolute;
  left:20px;
  top:323px;
  width:25px;
  height:25px;
}
#u53014 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53015 {
  position:absolute;
  left:49px;
  top:325px;
  width:57px;
  height:16px;
}
#u53016 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u53017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53018 {
  position:absolute;
  left:0px;
  top:194px;
  width:414px;
  height:105px;
}
#u53019 {
  position:absolute;
  left:2px;
  top:44px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53020 {
  position:absolute;
  left:48px;
  top:202px;
  width:71px;
  height:16px;
}
#u53021 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u53022 {
  position:absolute;
  left:20px;
  top:200px;
  width:25px;
  height:25px;
}
#u53023 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53024 {
  position:absolute;
  left:23px;
  top:237px;
  width:371px;
  height:45px;
}
#u53025 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53026 {
  position:absolute;
  left:36px;
  top:250px;
  width:197px;
  height:16px;
}
#u53027 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u53028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u53028 {
  position:absolute;
  left:361px;
  top:256px;
  width:20px;
  height:10px;
}
#u53029 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53030_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u53030 {
  position:absolute;
  left:485px;
  top:543px;
  width:30px;
  height:30px;
}
#u53031 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u53032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53032 {
  position:absolute;
  left:532px;
  top:550px;
  width:85px;
  height:16px;
}
#u53033 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u53034 {
  position:absolute;
  left:485px;
  top:558px;
  width:0px;
  height:0px;
}
#u53034_seg0 {
  position:absolute;
  left:-124px;
  top:-4px;
  width:128px;
  height:8px;
}
#u53035 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53036 {
  position:absolute;
  left:0px;
  top:360px;
  width:414px;
  height:85px;
}
#u53037 {
  position:absolute;
  left:2px;
  top:34px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u53038 {
  position:absolute;
  left:13px;
  top:369px;
  width:119px;
  height:16px;
  color:#999999;
}
#u53039 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u53040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53040 {
  position:absolute;
  left:381px;
  top:393px;
  width:20px;
  height:20px;
}
#u53041 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u53042 {
  position:absolute;
  left:13px;
  top:392px;
  width:368px;
  height:32px;
  font-size:13px;
}
#u53043 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
