body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19979 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:130px;
}
#u19980 {
  position:absolute;
  left:2px;
  top:57px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19981 {
  position:absolute;
  left:10px;
  top:150px;
  width:991px;
  height:510px;
}
#u19982 {
  position:absolute;
  left:2px;
  top:247px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u19983 {
  position:absolute;
  left:473px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u19984 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u19985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u19985 {
  position:absolute;
  left:522px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u19986 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u19987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(225, 233, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 233, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u19987 {
  position:absolute;
  left:580px;
  top:610px;
  width:20px;
  height:29px;
  color:#FF9900;
}
#u19988 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u19989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19989 {
  position:absolute;
  left:606px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u19990 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u19991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19991 {
  position:absolute;
  left:633px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u19992 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u19993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19993 {
  position:absolute;
  left:663px;
  top:617px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19994 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19995 {
  position:absolute;
  left:693px;
  top:610px;
  width:30px;
  height:29px;
  color:#999999;
}
#u19996 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19997 {
  position:absolute;
  left:730px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u19998 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u19999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19999 {
  position:absolute;
  left:788px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u20000 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u20001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20001 {
  position:absolute;
  left:839px;
  top:610px;
  width:60px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u20002 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20003 {
  position:absolute;
  left:845px;
  top:618px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u20004 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u20005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u20005 {
  position:absolute;
  left:881px;
  top:613px;
  width:18px;
  height:23px;
}
#u20006 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20007 {
  position:absolute;
  left:910px;
  top:610px;
  width:35px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u20008 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u20009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20009 {
  position:absolute;
  left:952px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u20010 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u20011 {
  position:absolute;
  left:20px;
  top:200px;
  width:976px;
  height:185px;
}
#u20012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20012 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20013 {
  position:absolute;
  left:2px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u20014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20014 {
  position:absolute;
  left:148px;
  top:0px;
  width:206px;
  height:45px;
}
#u20015 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20016 {
  position:absolute;
  left:354px;
  top:0px;
  width:206px;
  height:45px;
}
#u20017 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u20018 {
  position:absolute;
  left:560px;
  top:0px;
  width:205px;
  height:45px;
}
#u20019 {
  position:absolute;
  left:2px;
  top:15px;
  width:201px;
  word-wrap:break-word;
}
#u20020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20020 {
  position:absolute;
  left:765px;
  top:0px;
  width:206px;
  height:45px;
}
#u20021 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20022 {
  position:absolute;
  left:0px;
  top:45px;
  width:148px;
  height:45px;
}
#u20023 {
  position:absolute;
  left:2px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u20024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20024 {
  position:absolute;
  left:148px;
  top:45px;
  width:206px;
  height:45px;
}
#u20025 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20026 {
  position:absolute;
  left:354px;
  top:45px;
  width:206px;
  height:45px;
}
#u20027 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u20028 {
  position:absolute;
  left:560px;
  top:45px;
  width:205px;
  height:45px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:15px;
  width:201px;
  word-wrap:break-word;
}
#u20030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20030 {
  position:absolute;
  left:765px;
  top:45px;
  width:206px;
  height:45px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20032 {
  position:absolute;
  left:0px;
  top:90px;
  width:148px;
  height:45px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u20034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20034 {
  position:absolute;
  left:148px;
  top:90px;
  width:206px;
  height:45px;
}
#u20035 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20036 {
  position:absolute;
  left:354px;
  top:90px;
  width:206px;
  height:45px;
}
#u20037 {
  position:absolute;
  left:2px;
  top:15px;
  width:202px;
  word-wrap:break-word;
}
#u20038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u20038 {
  position:absolute;
  left:560px;
  top:90px;
  width:205px;
  height:45px;
}
#u20039 {
  position:absolute;
  left:2px;
  top:15px;
  width:201px;
  word-wrap:break-word;
}
#u20040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20040 {
  position:absolute;
  left:765px;
  top:90px;
  width:206px;
  height:45px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20042 {
  position:absolute;
  left:0px;
  top:135px;
  width:148px;
  height:45px;
}
#u20043 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20044 {
  position:absolute;
  left:148px;
  top:135px;
  width:206px;
  height:45px;
}
#u20045 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20046 {
  position:absolute;
  left:354px;
  top:135px;
  width:206px;
  height:45px;
}
#u20047 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u20048 {
  position:absolute;
  left:560px;
  top:135px;
  width:205px;
  height:45px;
}
#u20049 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u20050 {
  position:absolute;
  left:765px;
  top:135px;
  width:206px;
  height:45px;
}
#u20051 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u20052 {
  position:absolute;
  left:870px;
  top:260px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u20053 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u20054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u20054 {
  position:absolute;
  left:870px;
  top:305px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u20055 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20056 {
  position:absolute;
  left:136px;
  top:30px;
  width:160px;
  height:33px;
}
#u20057 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20058 {
  position:absolute;
  left:272px;
  top:37px;
  width:20px;
  height:20px;
}
#u20059 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20060 {
  position:absolute;
  left:303px;
  top:41px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u20061 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u20062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20062 {
  position:absolute;
  left:324px;
  top:30px;
  width:160px;
  height:33px;
}
#u20063 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20064 {
  position:absolute;
  left:460px;
  top:37px;
  width:20px;
  height:20px;
}
#u20065 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20066 {
  position:absolute;
  left:130px;
  top:67px;
  width:226px;
  height:227px;
  overflow:hidden;
  visibility:hidden;
}
#u20066_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:227px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u20067 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  height:221px;
}
#u20068 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20069 {
  position:absolute;
  left:273px;
  top:67px;
  width:226px;
  height:227px;
  overflow:hidden;
  visibility:hidden;
}
#u20069_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:227px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20069_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u20070 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  height:221px;
}
#u20071 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20072 {
  position:absolute;
  left:27px;
  top:36px;
  width:71px;
  height:16px;
}
#u20073 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 67, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20074 {
  position:absolute;
  left:874px;
  top:90px;
  width:50px;
  height:30px;
}
#u20075 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u20076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u20076 {
  position:absolute;
  left:941px;
  top:90px;
  width:50px;
  height:30px;
  color:#F44336;
}
#u20077 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u20078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20078 {
  position:absolute;
  left:250px;
  top:442px;
  width:376px;
  height:68px;
}
#u20079 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u20080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u20080 {
  position:absolute;
  left:20px;
  top:160px;
  width:67px;
  height:30px;
  color:#F44336;
}
#u20081 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u20082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:229px;
}
#u20082 {
  position:absolute;
  left:250px;
  top:524px;
  width:283px;
  height:229px;
}
#u20083 {
  position:absolute;
  left:2px;
  top:106px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20084 {
  position:absolute;
  left:250px;
  top:772px;
  width:376px;
  height:92px;
}
#u20085 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u20086 {
  position:absolute;
  left:250px;
  top:880px;
  width:1505px;
  height:25px;
}
#u20087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20087 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20088 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20089 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
}
#u20090 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20091 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
}
#u20092 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20093 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:20px;
}
#u20094 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20095 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:20px;
}
#u20096 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20097 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:20px;
}
#u20098 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20099 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:20px;
}
#u20100 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20101 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:20px;
}
#u20102 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20103 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:20px;
}
#u20104 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20105 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:20px;
}
#u20106 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20107 {
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:20px;
}
#u20108 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20109 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:20px;
}
#u20110 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20111 {
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:20px;
}
#u20112 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20113 {
  position:absolute;
  left:1300px;
  top:0px;
  width:100px;
  height:20px;
}
#u20114 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20115 {
  position:absolute;
  left:1400px;
  top:0px;
  width:100px;
  height:20px;
}
#u20116 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
