body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:600px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47452 {
  position:absolute;
  left:300px;
  top:200px;
  width:401px;
  height:600px;
}
#u47453 {
  position:absolute;
  left:2px;
  top:292px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47455 {
  position:absolute;
  left:300px;
  top:200px;
  width:401px;
  height:50px;
}
#u47456 {
  position:absolute;
  left:2px;
  top:17px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u47457 {
  position:absolute;
  left:307px;
  top:207px;
  width:35px;
  height:35px;
}
#u47458 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47459 {
  position:absolute;
  left:488px;
  top:217px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u47460 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u47461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47461 {
  position:absolute;
  left:300px;
  top:258px;
  width:401px;
  height:55px;
}
#u47462 {
  position:absolute;
  left:2px;
  top:20px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u47463 {
  position:absolute;
  left:346px;
  top:416px;
  width:310px;
  height:40px;
  font-size:16px;
}
#u47464 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u47465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u47465 {
  position:absolute;
  left:318px;
  top:269px;
  width:357px;
  height:33px;
  color:#CCCCCC;
  text-align:left;
}
#u47466 {
  position:absolute;
  left:2px;
  top:9px;
  width:353px;
  word-wrap:break-word;
}
#u47467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47467 {
  position:absolute;
  left:744px;
  top:275px;
  width:300px;
  height:30px;
}
#u47468 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u47469_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u47469 {
  position:absolute;
  left:725px;
  top:220px;
  width:30px;
  height:30px;
}
#u47470 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u47471 {
  position:absolute;
  left:725px;
  top:235px;
  width:0px;
  height:0px;
}
#u47471_seg0 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u47471_seg1 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:8px;
  height:59px;
}
#u47471_seg2 {
  position:absolute;
  left:-24px;
  top:47px;
  width:16px;
  height:8px;
}
#u47472 {
  position:absolute;
  left:-62px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47473 {
  position:absolute;
  left:636px;
  top:276px;
  width:20px;
  height:20px;
}
#u47474 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
