body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45371 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u45372 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45373 {
  position:absolute;
  left:99px;
  top:67px;
  width:655px;
  height:95px;
}
#u45374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u45374 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u45375 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u45376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u45376 {
  position:absolute;
  left:150px;
  top:0px;
  width:500px;
  height:45px;
}
#u45377 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u45378 {
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
}
#u45379 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u45380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u45380 {
  position:absolute;
  left:150px;
  top:45px;
  width:500px;
  height:45px;
}
#u45381 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u45382 {
  position:absolute;
  left:331px;
  top:215px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u45383 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u45384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u45384 {
  position:absolute;
  left:467px;
  top:216px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u45385 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u45386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45386 {
  position:absolute;
  left:261px;
  top:73px;
  width:200px;
  height:33px;
}
#u45387 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45388 {
  position:absolute;
  left:274px;
  top:128px;
  width:47px;
  height:16px;
}
#u45389 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u45388_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45390 {
  position:absolute;
  left:331px;
  top:128px;
  width:53px;
  height:16px;
}
#u45391 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u45390_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u45392 {
  position:absolute;
  left:226px;
  top:215px;
  width:85px;
  height:33px;
  font-size:12px;
  color:#9E9892;
}
#u45393 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u45394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u45394 {
  position:absolute;
  left:194px;
  top:339px;
  width:351px;
  height:150px;
}
#u45395 {
  position:absolute;
  left:10px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
