body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23017 {
  position:absolute;
  left:59px;
  top:225px;
  width:1586px;
  height:245px;
}
#u23018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:80px;
}
#u23018 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:80px;
}
#u23019 {
  position:absolute;
  left:2px;
  top:32px;
  width:181px;
  word-wrap:break-word;
}
#u23020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:80px;
}
#u23020 {
  position:absolute;
  left:185px;
  top:0px;
  width:196px;
  height:80px;
}
#u23021 {
  position:absolute;
  left:2px;
  top:32px;
  width:192px;
  word-wrap:break-word;
}
#u23022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:80px;
}
#u23022 {
  position:absolute;
  left:381px;
  top:0px;
  width:152px;
  height:80px;
}
#u23023 {
  position:absolute;
  left:2px;
  top:32px;
  width:148px;
  word-wrap:break-word;
}
#u23024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:80px;
}
#u23024 {
  position:absolute;
  left:533px;
  top:0px;
  width:163px;
  height:80px;
}
#u23025 {
  position:absolute;
  left:2px;
  top:32px;
  width:159px;
  word-wrap:break-word;
}
#u23026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u23026 {
  position:absolute;
  left:696px;
  top:0px;
  width:120px;
  height:80px;
}
#u23027 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u23028 {
  position:absolute;
  left:816px;
  top:0px;
  width:125px;
  height:80px;
}
#u23029 {
  position:absolute;
  left:2px;
  top:32px;
  width:121px;
  word-wrap:break-word;
}
#u23030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u23030 {
  position:absolute;
  left:941px;
  top:0px;
  width:126px;
  height:80px;
}
#u23031 {
  position:absolute;
  left:2px;
  top:32px;
  width:122px;
  word-wrap:break-word;
}
#u23032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:80px;
}
#u23032 {
  position:absolute;
  left:1067px;
  top:0px;
  width:124px;
  height:80px;
}
#u23033 {
  position:absolute;
  left:2px;
  top:32px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
}
#u23034 {
  position:absolute;
  left:1191px;
  top:0px;
  width:184px;
  height:80px;
}
#u23035 {
  position:absolute;
  left:2px;
  top:32px;
  width:180px;
  word-wrap:break-word;
}
#u23036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:80px;
}
#u23036 {
  position:absolute;
  left:1375px;
  top:0px;
  width:206px;
  height:80px;
}
#u23037 {
  position:absolute;
  left:2px;
  top:32px;
  width:202px;
  word-wrap:break-word;
}
#u23038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u23038 {
  position:absolute;
  left:0px;
  top:80px;
  width:185px;
  height:40px;
}
#u23039 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u23040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u23040 {
  position:absolute;
  left:185px;
  top:80px;
  width:196px;
  height:40px;
}
#u23041 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u23042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u23042 {
  position:absolute;
  left:381px;
  top:80px;
  width:152px;
  height:40px;
}
#u23043 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u23044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u23044 {
  position:absolute;
  left:533px;
  top:80px;
  width:163px;
  height:40px;
}
#u23045 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u23046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23046 {
  position:absolute;
  left:696px;
  top:80px;
  width:120px;
  height:40px;
}
#u23047 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u23048 {
  position:absolute;
  left:816px;
  top:80px;
  width:125px;
  height:40px;
}
#u23049 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u23050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23050 {
  position:absolute;
  left:941px;
  top:80px;
  width:126px;
  height:40px;
}
#u23051 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u23052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u23052 {
  position:absolute;
  left:1067px;
  top:80px;
  width:124px;
  height:40px;
}
#u23053 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u23054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u23054 {
  position:absolute;
  left:1191px;
  top:80px;
  width:184px;
  height:40px;
}
#u23055 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u23056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u23056 {
  position:absolute;
  left:1375px;
  top:80px;
  width:206px;
  height:40px;
  font-size:14px;
  text-decoration:underline;
  color:#0000FF;
}
#u23057 {
  position:absolute;
  left:2px;
  top:11px;
  width:202px;
  word-wrap:break-word;
}
#u23058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u23058 {
  position:absolute;
  left:0px;
  top:120px;
  width:185px;
  height:40px;
}
#u23059 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u23060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u23060 {
  position:absolute;
  left:185px;
  top:120px;
  width:196px;
  height:40px;
}
#u23061 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u23062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u23062 {
  position:absolute;
  left:381px;
  top:120px;
  width:152px;
  height:40px;
}
#u23063 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u23064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u23064 {
  position:absolute;
  left:533px;
  top:120px;
  width:163px;
  height:40px;
}
#u23065 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u23066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23066 {
  position:absolute;
  left:696px;
  top:120px;
  width:120px;
  height:40px;
}
#u23067 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u23068 {
  position:absolute;
  left:816px;
  top:120px;
  width:125px;
  height:40px;
}
#u23069 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u23070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23070 {
  position:absolute;
  left:941px;
  top:120px;
  width:126px;
  height:40px;
}
#u23071 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u23072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u23072 {
  position:absolute;
  left:1067px;
  top:120px;
  width:124px;
  height:40px;
}
#u23073 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u23074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u23074 {
  position:absolute;
  left:1191px;
  top:120px;
  width:184px;
  height:40px;
}
#u23075 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u23076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u23076 {
  position:absolute;
  left:1375px;
  top:120px;
  width:206px;
  height:40px;
  font-size:14px;
  text-decoration:underline;
  color:#0000FF;
}
#u23077 {
  position:absolute;
  left:2px;
  top:11px;
  width:202px;
  word-wrap:break-word;
}
#u23078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u23078 {
  position:absolute;
  left:0px;
  top:160px;
  width:185px;
  height:40px;
}
#u23079 {
  position:absolute;
  left:2px;
  top:5px;
  width:181px;
  word-wrap:break-word;
}
#u23080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u23080 {
  position:absolute;
  left:185px;
  top:160px;
  width:196px;
  height:40px;
}
#u23081 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u23082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u23082 {
  position:absolute;
  left:381px;
  top:160px;
  width:152px;
  height:40px;
}
#u23083 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u23084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u23084 {
  position:absolute;
  left:533px;
  top:160px;
  width:163px;
  height:40px;
}
#u23085 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u23086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23086 {
  position:absolute;
  left:696px;
  top:160px;
  width:120px;
  height:40px;
}
#u23087 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u23088 {
  position:absolute;
  left:816px;
  top:160px;
  width:125px;
  height:40px;
}
#u23089 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u23090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23090 {
  position:absolute;
  left:941px;
  top:160px;
  width:126px;
  height:40px;
}
#u23091 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u23092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u23092 {
  position:absolute;
  left:1067px;
  top:160px;
  width:124px;
  height:40px;
}
#u23093 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u23094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u23094 {
  position:absolute;
  left:1191px;
  top:160px;
  width:184px;
  height:40px;
}
#u23095 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u23096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u23096 {
  position:absolute;
  left:1375px;
  top:160px;
  width:206px;
  height:40px;
  font-size:14px;
  text-decoration:underline;
  color:#0000FF;
}
#u23097 {
  position:absolute;
  left:2px;
  top:11px;
  width:202px;
  word-wrap:break-word;
}
#u23098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u23098 {
  position:absolute;
  left:0px;
  top:200px;
  width:185px;
  height:40px;
}
#u23099 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u23100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u23100 {
  position:absolute;
  left:185px;
  top:200px;
  width:196px;
  height:40px;
}
#u23101 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u23102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u23102 {
  position:absolute;
  left:381px;
  top:200px;
  width:152px;
  height:40px;
}
#u23103 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u23104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u23104 {
  position:absolute;
  left:533px;
  top:200px;
  width:163px;
  height:40px;
}
#u23105 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u23106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23106 {
  position:absolute;
  left:696px;
  top:200px;
  width:120px;
  height:40px;
}
#u23107 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u23108 {
  position:absolute;
  left:816px;
  top:200px;
  width:125px;
  height:40px;
}
#u23109 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u23110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23110 {
  position:absolute;
  left:941px;
  top:200px;
  width:126px;
  height:40px;
}
#u23111 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u23112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u23112 {
  position:absolute;
  left:1067px;
  top:200px;
  width:124px;
  height:40px;
}
#u23113 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u23114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u23114 {
  position:absolute;
  left:1191px;
  top:200px;
  width:184px;
  height:40px;
}
#u23115 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u23116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u23116 {
  position:absolute;
  left:1375px;
  top:200px;
  width:206px;
  height:40px;
  font-size:14px;
  text-decoration:underline;
  color:#0000FF;
}
#u23117 {
  position:absolute;
  left:2px;
  top:11px;
  width:202px;
  word-wrap:break-word;
}
#u23118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23118 {
  position:absolute;
  left:962px;
  top:95px;
  width:94px;
  height:30px;
}
#u23119 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u23120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23120 {
  position:absolute;
  left:1110px;
  top:95px;
  width:94px;
  height:30px;
}
#u23121 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u23122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23122 {
  position:absolute;
  left:125px;
  top:489px;
  width:329px;
  height:127px;
}
#u23123 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  word-wrap:break-word;
}
#u23124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23124 {
  position:absolute;
  left:110px;
  top:109px;
  width:71px;
  height:16px;
}
#u23125 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23126 {
  position:absolute;
  left:181px;
  top:105px;
  width:155px;
  height:25px;
}
#u23126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23128 {
  position:absolute;
  left:754px;
  top:263px;
  width:122px;
  height:43px;
}
#u23129 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u23130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23130 {
  position:absolute;
  left:876px;
  top:263px;
  width:125px;
  height:43px;
}
#u23131 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u23132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23132 {
  position:absolute;
  left:1001px;
  top:263px;
  width:125px;
  height:43px;
}
#u23133 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u23134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23134 {
  position:absolute;
  left:754px;
  top:225px;
  width:496px;
  height:39px;
}
#u23135 {
  position:absolute;
  left:2px;
  top:12px;
  width:492px;
  word-wrap:break-word;
}
#u23136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23136 {
  position:absolute;
  left:1126px;
  top:263px;
  width:125px;
  height:43px;
}
#u23137 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u23138 {
  position:absolute;
  left:359px;
  top:103px;
  width:222px;
  height:22px;
}
#u23138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23138_input:disabled {
  color:grayText;
}
#u23139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23139 {
  position:absolute;
  left:598px;
  top:95px;
  width:160px;
  height:33px;
}
#u23140 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u23141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23141 {
  position:absolute;
  left:734px;
  top:102px;
  width:20px;
  height:20px;
}
#u23142 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23143 {
  position:absolute;
  left:765px;
  top:106px;
  width:14px;
  height:15px;
  font-size:13px;
}
#u23144 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23145 {
  position:absolute;
  left:786px;
  top:95px;
  width:160px;
  height:33px;
}
#u23146 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u23147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23147 {
  position:absolute;
  left:922px;
  top:102px;
  width:20px;
  height:20px;
}
#u23148 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
