body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7399 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:130px;
}
#u7400 {
  position:absolute;
  left:2px;
  top:57px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7401 {
  position:absolute;
  left:10px;
  top:150px;
  width:991px;
  height:510px;
}
#u7402 {
  position:absolute;
  left:2px;
  top:247px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u7403 {
  position:absolute;
  left:473px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u7404 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u7405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u7405 {
  position:absolute;
  left:522px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u7406 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u7407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(225, 233, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 233, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u7407 {
  position:absolute;
  left:580px;
  top:610px;
  width:20px;
  height:29px;
  color:#FF9900;
}
#u7408 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u7409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7409 {
  position:absolute;
  left:606px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u7410 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u7411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7411 {
  position:absolute;
  left:633px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u7412 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u7413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7413 {
  position:absolute;
  left:663px;
  top:617px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7414 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7415 {
  position:absolute;
  left:693px;
  top:610px;
  width:30px;
  height:29px;
  color:#999999;
}
#u7416 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u7417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7417 {
  position:absolute;
  left:730px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u7418 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u7419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7419 {
  position:absolute;
  left:788px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u7420 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u7421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7421 {
  position:absolute;
  left:839px;
  top:610px;
  width:60px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u7422 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7423 {
  position:absolute;
  left:845px;
  top:618px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u7424 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u7425 {
  position:absolute;
  left:881px;
  top:613px;
  width:18px;
  height:23px;
}
#u7426 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7427 {
  position:absolute;
  left:910px;
  top:610px;
  width:35px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u7428 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u7429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u7429 {
  position:absolute;
  left:952px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u7430 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u7431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7431 {
  position:absolute;
  left:20px;
  top:48px;
  width:71px;
  height:16px;
}
#u7432 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7433 {
  position:absolute;
  left:93px;
  top:37px;
  width:160px;
  height:33px;
}
#u7434 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7435 {
  position:absolute;
  left:229px;
  top:44px;
  width:20px;
  height:20px;
}
#u7436 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7437 {
  position:absolute;
  left:260px;
  top:48px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u7438 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7439 {
  position:absolute;
  left:281px;
  top:37px;
  width:160px;
  height:33px;
}
#u7440 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7441 {
  position:absolute;
  left:417px;
  top:44px;
  width:20px;
  height:20px;
}
#u7442 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 67, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7443 {
  position:absolute;
  left:871px;
  top:54px;
  width:50px;
  height:30px;
}
#u7444 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u7445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u7445 {
  position:absolute;
  left:941px;
  top:54px;
  width:50px;
  height:30px;
  color:#F44336;
}
#u7446 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u7447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7447 {
  position:absolute;
  left:51px;
  top:410px;
  width:406px;
  height:83px;
}
#u7448 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u7449 {
  position:absolute;
  left:20px;
  top:220px;
  width:988px;
  height:185px;
}
#u7450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u7450 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u7451 {
  position:absolute;
  left:2px;
  top:15px;
  width:155px;
  word-wrap:break-word;
}
#u7452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7452 {
  position:absolute;
  left:159px;
  top:0px;
  width:162px;
  height:45px;
}
#u7453 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7454 {
  position:absolute;
  left:321px;
  top:0px;
  width:162px;
  height:45px;
}
#u7455 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7456 {
  position:absolute;
  left:483px;
  top:0px;
  width:162px;
  height:45px;
}
#u7457 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7458 {
  position:absolute;
  left:645px;
  top:0px;
  width:169px;
  height:45px;
}
#u7459 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7460 {
  position:absolute;
  left:814px;
  top:0px;
  width:169px;
  height:45px;
}
#u7461 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u7462 {
  position:absolute;
  left:0px;
  top:45px;
  width:159px;
  height:45px;
}
#u7463 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7464 {
  position:absolute;
  left:159px;
  top:45px;
  width:162px;
  height:45px;
}
#u7465 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7466 {
  position:absolute;
  left:321px;
  top:45px;
  width:162px;
  height:45px;
}
#u7467 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7468 {
  position:absolute;
  left:483px;
  top:45px;
  width:162px;
  height:45px;
}
#u7469 {
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u7470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7470 {
  position:absolute;
  left:645px;
  top:45px;
  width:169px;
  height:45px;
}
#u7471 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7472 {
  position:absolute;
  left:814px;
  top:45px;
  width:169px;
  height:45px;
}
#u7473 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u7474 {
  position:absolute;
  left:0px;
  top:90px;
  width:159px;
  height:45px;
}
#u7475 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7476 {
  position:absolute;
  left:159px;
  top:90px;
  width:162px;
  height:45px;
}
#u7477 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7478 {
  position:absolute;
  left:321px;
  top:90px;
  width:162px;
  height:45px;
}
#u7479 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7480 {
  position:absolute;
  left:483px;
  top:90px;
  width:162px;
  height:45px;
}
#u7481 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7482 {
  position:absolute;
  left:645px;
  top:90px;
  width:169px;
  height:45px;
}
#u7483 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7484 {
  position:absolute;
  left:814px;
  top:90px;
  width:169px;
  height:45px;
}
#u7485 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u7486 {
  position:absolute;
  left:0px;
  top:135px;
  width:159px;
  height:45px;
}
#u7487 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7488 {
  position:absolute;
  left:159px;
  top:135px;
  width:162px;
  height:45px;
}
#u7489 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7490 {
  position:absolute;
  left:321px;
  top:135px;
  width:162px;
  height:45px;
}
#u7491 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7492 {
  position:absolute;
  left:483px;
  top:135px;
  width:162px;
  height:45px;
}
#u7493 {
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7494 {
  position:absolute;
  left:645px;
  top:135px;
  width:169px;
  height:45px;
}
#u7495 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
}
#u7496 {
  position:absolute;
  left:814px;
  top:135px;
  width:169px;
  height:45px;
}
#u7497 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u7498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u7498 {
  position:absolute;
  left:81px;
  top:279px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u7499 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u7500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u7500 {
  position:absolute;
  left:81px;
  top:325px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u7501 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u7502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u7502 {
  position:absolute;
  left:81px;
  top:367px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u7503 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u7504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u7504 {
  position:absolute;
  left:32px;
  top:180px;
  width:91px;
  height:30px;
  color:#F44336;
}
#u7505 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
