body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16342 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u16343 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u16345 {
  position:absolute;
  left:23px;
  top:77px;
  width:814px;
  height:1px;
}
#u16346 {
  position:absolute;
  left:2px;
  top:-8px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(48, 177, 155, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16347 {
  position:absolute;
  left:20px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u16348 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16349 {
  position:absolute;
  left:134px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16350 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16351 {
  position:absolute;
  left:245px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16352 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16353 {
  position:absolute;
  left:354px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16354 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16355 {
  position:absolute;
  left:460px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16356 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16357 {
  position:absolute;
  left:560px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16358 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u16359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16359 {
  position:absolute;
  left:660px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16360 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16361 {
  position:absolute;
  left:750px;
  top:30px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u16362 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u16363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16363 {
  position:absolute;
  left:380px;
  top:427px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16364 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u16365 {
  position:absolute;
  left:20px;
  top:88px;
  width:988px;
  height:273px;
}
#u16366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:36px;
}
#u16366 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16367 {
  position:absolute;
  left:2px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u16368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u16368 {
  position:absolute;
  left:221px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16369 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u16370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u16370 {
  position:absolute;
  left:369px;
  top:0px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16371 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u16372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u16372 {
  position:absolute;
  left:470px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16373 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u16374 {
  position:absolute;
  left:610px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16375 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u16376 {
  position:absolute;
  left:750px;
  top:0px;
  width:137px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16377 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u16378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u16378 {
  position:absolute;
  left:887px;
  top:0px;
  width:96px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16379 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u16380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:52px;
}
#u16380 {
  position:absolute;
  left:0px;
  top:36px;
  width:221px;
  height:52px;
}
#u16381 {
  position:absolute;
  left:2px;
  top:18px;
  width:217px;
  word-wrap:break-word;
}
#u16382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:52px;
}
#u16382 {
  position:absolute;
  left:221px;
  top:36px;
  width:148px;
  height:52px;
}
#u16383 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u16384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u16384 {
  position:absolute;
  left:369px;
  top:36px;
  width:101px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u16385 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u16386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16386 {
  position:absolute;
  left:470px;
  top:36px;
  width:140px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u16387 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16388 {
  position:absolute;
  left:610px;
  top:36px;
  width:140px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u16389 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
}
#u16390 {
  position:absolute;
  left:750px;
  top:36px;
  width:137px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u16391 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u16392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u16392 {
  position:absolute;
  left:887px;
  top:36px;
  width:96px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u16393 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u16394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u16394 {
  position:absolute;
  left:0px;
  top:88px;
  width:221px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16395 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u16396 {
  position:absolute;
  left:221px;
  top:88px;
  width:148px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16397 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u16398 {
  position:absolute;
  left:369px;
  top:88px;
  width:101px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16399 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16400 {
  position:absolute;
  left:470px;
  top:88px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16401 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16402 {
  position:absolute;
  left:610px;
  top:88px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16403 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u16404 {
  position:absolute;
  left:750px;
  top:88px;
  width:137px;
  height:45px;
}
#u16405 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u16406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
}
#u16406 {
  position:absolute;
  left:887px;
  top:88px;
  width:96px;
  height:45px;
}
#u16407 {
  position:absolute;
  left:2px;
  top:15px;
  width:92px;
  word-wrap:break-word;
}
#u16408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u16408 {
  position:absolute;
  left:0px;
  top:133px;
  width:221px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16409 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u16410 {
  position:absolute;
  left:221px;
  top:133px;
  width:148px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16411 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u16412 {
  position:absolute;
  left:369px;
  top:133px;
  width:101px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16413 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16414 {
  position:absolute;
  left:470px;
  top:133px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16415 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16416 {
  position:absolute;
  left:610px;
  top:133px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16417 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u16418 {
  position:absolute;
  left:750px;
  top:133px;
  width:137px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16419 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
}
#u16420 {
  position:absolute;
  left:887px;
  top:133px;
  width:96px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16421 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u16422 {
  position:absolute;
  left:0px;
  top:178px;
  width:221px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16423 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u16424 {
  position:absolute;
  left:221px;
  top:178px;
  width:148px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16425 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u16426 {
  position:absolute;
  left:369px;
  top:178px;
  width:101px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16427 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16428 {
  position:absolute;
  left:470px;
  top:178px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16429 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16430 {
  position:absolute;
  left:610px;
  top:178px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16431 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u16432 {
  position:absolute;
  left:750px;
  top:178px;
  width:137px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16433 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
}
#u16434 {
  position:absolute;
  left:887px;
  top:178px;
  width:96px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16435 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u16436 {
  position:absolute;
  left:0px;
  top:223px;
  width:221px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16437 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u16438 {
  position:absolute;
  left:221px;
  top:223px;
  width:148px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16439 {
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u16440 {
  position:absolute;
  left:369px;
  top:223px;
  width:101px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16441 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16442 {
  position:absolute;
  left:470px;
  top:223px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16443 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u16444 {
  position:absolute;
  left:610px;
  top:223px;
  width:140px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16445 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u16446 {
  position:absolute;
  left:750px;
  top:223px;
  width:137px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16447 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
}
#u16448 {
  position:absolute;
  left:887px;
  top:223px;
  width:96px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
}
#u16449 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u16450 {
  position:absolute;
  left:538px;
  top:143px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u16451 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u16452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 214, 205, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#DA3434;
}
#u16452 {
  position:absolute;
  left:676px;
  top:143px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#DA3434;
}
#u16453 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u16454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16454 {
  position:absolute;
  left:371px;
  top:512px;
  width:369px;
  height:150px;
}
#u16455 {
  position:absolute;
  left:10px;
  top:10px;
  width:349px;
  word-wrap:break-word;
}
