body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:297px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19939 {
  position:absolute;
  left:99px;
  top:73px;
  width:1235px;
  height:297px;
}
#u19940 {
  position:absolute;
  left:2px;
  top:140px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19941 {
  position:absolute;
  left:136px;
  top:99px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19942 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19943 {
  position:absolute;
  left:136px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19944 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19945 {
  position:absolute;
  left:704px;
  top:99px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19946 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19947 {
  position:absolute;
  left:417px;
  top:99px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19948 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19949 {
  position:absolute;
  left:707px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:298px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19951 {
  position:absolute;
  left:29px;
  top:72px;
  width:70px;
  height:298px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19952 {
  position:absolute;
  left:2px;
  top:116px;
  width:66px;
  word-wrap:break-word;
}
#u19953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19953 {
  position:absolute;
  left:997px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19954 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19955 {
  position:absolute;
  left:1286px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19956 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19957 {
  position:absolute;
  left:996px;
  top:99px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u19958 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u19959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:1895px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19959 {
  position:absolute;
  left:29px;
  top:387px;
  width:1305px;
  height:1895px;
}
#u19960 {
  position:absolute;
  left:2px;
  top:940px;
  width:1301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:371px;
}
#u19961 {
  position:absolute;
  left:73px;
  top:430px;
  width:357px;
  height:370px;
}
#u19962 {
  position:absolute;
  left:2px;
  top:140px;
  width:353px;
  word-wrap:break-word;
}
#u19963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19963 {
  position:absolute;
  left:498px;
  top:530px;
  width:300px;
  height:170px;
}
#u19964 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u19965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:371px;
}
#u19965 {
  position:absolute;
  left:876px;
  top:430px;
  width:357px;
  height:370px;
}
#u19966 {
  position:absolute;
  left:2px;
  top:140px;
  width:353px;
  word-wrap:break-word;
}
#u19967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:371px;
}
#u19967 {
  position:absolute;
  left:73px;
  top:826px;
  width:1160px;
  height:370px;
}
#u19968 {
  position:absolute;
  left:2px;
  top:178px;
  width:1156px;
  word-wrap:break-word;
}
#u19969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:371px;
}
#u19969 {
  position:absolute;
  left:73px;
  top:1913px;
  width:507px;
  height:370px;
}
#u19970 {
  position:absolute;
  left:2px;
  top:178px;
  width:503px;
  word-wrap:break-word;
}
#u19971 {
  position:absolute;
  left:73px;
  top:1690px;
  width:1165px;
  height:161px;
}
#u19972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19972 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19973 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u19974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19974 {
  position:absolute;
  left:193px;
  top:0px;
  width:193px;
  height:30px;
}
#u19975 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u19976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19976 {
  position:absolute;
  left:386px;
  top:0px;
  width:193px;
  height:30px;
}
#u19977 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u19978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19978 {
  position:absolute;
  left:579px;
  top:0px;
  width:193px;
  height:30px;
}
#u19979 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u19980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19980 {
  position:absolute;
  left:772px;
  top:0px;
  width:193px;
  height:30px;
}
#u19981 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u19982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u19982 {
  position:absolute;
  left:965px;
  top:0px;
  width:195px;
  height:30px;
}
#u19983 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u19984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u19984 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u19985 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  word-wrap:break-word;
}
#u19986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u19986 {
  position:absolute;
  left:193px;
  top:30px;
  width:193px;
  height:36px;
}
#u19987 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u19988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u19988 {
  position:absolute;
  left:386px;
  top:30px;
  width:193px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u19989 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  word-wrap:break-word;
}
#u19990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u19990 {
  position:absolute;
  left:579px;
  top:30px;
  width:193px;
  height:36px;
  font-size:14px;
  text-align:right;
}
#u19991 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  word-wrap:break-word;
}
#u19992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u19992 {
  position:absolute;
  left:772px;
  top:30px;
  width:193px;
  height:36px;
  font-size:14px;
}
#u19993 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  word-wrap:break-word;
}
#u19994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u19994 {
  position:absolute;
  left:965px;
  top:30px;
  width:195px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u19995 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19996 {
  position:absolute;
  left:0px;
  top:66px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u19997 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u19998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u19998 {
  position:absolute;
  left:193px;
  top:66px;
  width:193px;
  height:30px;
}
#u19999 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u20000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20000 {
  position:absolute;
  left:386px;
  top:66px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20001 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20002 {
  position:absolute;
  left:579px;
  top:66px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u20003 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20004 {
  position:absolute;
  left:772px;
  top:66px;
  width:193px;
  height:30px;
  font-size:14px;
}
#u20005 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20006 {
  position:absolute;
  left:965px;
  top:66px;
  width:195px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20007 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20008 {
  position:absolute;
  left:0px;
  top:96px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20009 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20010 {
  position:absolute;
  left:193px;
  top:96px;
  width:193px;
  height:30px;
}
#u20011 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u20012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20012 {
  position:absolute;
  left:386px;
  top:96px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20013 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20014 {
  position:absolute;
  left:579px;
  top:96px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u20015 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20016 {
  position:absolute;
  left:772px;
  top:96px;
  width:193px;
  height:30px;
  font-size:14px;
}
#u20017 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20018 {
  position:absolute;
  left:965px;
  top:96px;
  width:195px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20019 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20020 {
  position:absolute;
  left:0px;
  top:126px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20021 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20022 {
  position:absolute;
  left:193px;
  top:126px;
  width:193px;
  height:30px;
}
#u20023 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u20024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20024 {
  position:absolute;
  left:386px;
  top:126px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20025 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20026 {
  position:absolute;
  left:579px;
  top:126px;
  width:193px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u20027 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20028 {
  position:absolute;
  left:772px;
  top:126px;
  width:193px;
  height:30px;
  font-size:14px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u20030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20030 {
  position:absolute;
  left:965px;
  top:126px;
  width:195px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u20031 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u20032 {
  position:absolute;
  left:73px;
  top:1598px;
  width:227px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u20033 {
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20034 {
  position:absolute;
  left:363px;
  top:1641px;
  width:290px;
  height:49px;
}
#u20035 {
  position:absolute;
  left:2px;
  top:17px;
  width:286px;
  word-wrap:break-word;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20036 {
  position:absolute;
  left:654px;
  top:1641px;
  width:290px;
  height:49px;
}
#u20037 {
  position:absolute;
  left:2px;
  top:17px;
  width:286px;
  word-wrap:break-word;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20038 {
  position:absolute;
  left:943px;
  top:1641px;
  width:290px;
  height:49px;
}
#u20039 {
  position:absolute;
  left:2px;
  top:17px;
  width:286px;
  word-wrap:break-word;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20040 {
  position:absolute;
  left:73px;
  top:1641px;
  width:290px;
  height:49px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:17px;
  width:286px;
  word-wrap:break-word;
}
#u20042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:371px;
}
#u20042 {
  position:absolute;
  left:718px;
  top:1913px;
  width:507px;
  height:370px;
}
#u20043 {
  position:absolute;
  left:2px;
  top:178px;
  width:503px;
  word-wrap:break-word;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20044 {
  position:absolute;
  left:46px;
  top:36px;
  width:85px;
  height:16px;
}
#u20045 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u20046 {
  position:absolute;
  left:133px;
  top:32px;
  width:300px;
  height:22px;
}
#u20046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20046_input:disabled {
  color:grayText;
}
#u20047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20047 {
  position:absolute;
  left:614px;
  top:22px;
  width:160px;
  height:33px;
}
#u20048 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u20049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20049 {
  position:absolute;
  left:750px;
  top:29px;
  width:20px;
  height:20px;
}
#u20050 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20051 {
  position:absolute;
  left:781px;
  top:33px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u20052 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u20053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20053 {
  position:absolute;
  left:802px;
  top:22px;
  width:160px;
  height:33px;
}
#u20054 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u20055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20055 {
  position:absolute;
  left:938px;
  top:29px;
  width:20px;
  height:20px;
}
#u20056 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20057 {
  position:absolute;
  left:493px;
  top:34px;
  width:99px;
  height:16px;
}
#u20058 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u20059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20059 {
  position:absolute;
  left:978px;
  top:24px;
  width:82px;
  height:25px;
}
#u20060 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u20061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20061 {
  position:absolute;
  left:418px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20062 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u20063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20063 {
  position:absolute;
  left:708px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20064 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u20065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(153, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20065 {
  position:absolute;
  left:997px;
  top:243px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20066 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u20067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:101px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20067 {
  position:absolute;
  left:1286px;
  top:99px;
  width:237px;
  height:101px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u20068 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u20069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:318px;
}
#u20069 {
  position:absolute;
  left:73px;
  top:1228px;
  width:1160px;
  height:317px;
}
#u20070 {
  position:absolute;
  left:2px;
  top:136px;
  width:1156px;
  word-wrap:break-word;
}
