body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:693px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u57183 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u57184 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57185 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u57186 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u57187 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u57188 {
  position:absolute;
  left:358px;
  top:6px;
  width:41px;
  height:32px;
}
#u57189 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57191 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u57192 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u57193 {
  position:absolute;
  left:154px;
  top:10px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u57194 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u57195_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u57195 {
  position:absolute;
  left:449px;
  top:217px;
  width:30px;
  height:30px;
}
#u57196 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u57197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57197 {
  position:absolute;
  left:497px;
  top:224px;
  width:196px;
  height:51px;
}
#u57198 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u57199 {
  position:absolute;
  left:449px;
  top:232px;
  width:0px;
  height:0px;
}
#u57199_seg0 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u57199_seg1 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:104px;
}
#u57199_seg2 {
  position:absolute;
  left:-65px;
  top:92px;
  width:50px;
  height:8px;
}
#u57200 {
  position:absolute;
  left:-69px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u57201 {
  position:absolute;
  left:0px;
  top:44px;
  width:413px;
  height:216px;
  font-size:18px;
}
#u57202 {
  position:absolute;
  left:2px;
  top:86px;
  width:409px;
  word-wrap:break-word;
}
#u57203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57203 {
  position:absolute;
  left:16px;
  top:61px;
  width:253px;
  height:16px;
}
#u57204 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u57205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u57205 {
  position:absolute;
  left:0px;
  top:97px;
  width:414px;
  height:1px;
}
#u57206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57207 {
  position:absolute;
  left:14px;
  top:223px;
  width:57px;
  height:16px;
}
#u57208 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u57209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u57209 {
  position:absolute;
  left:320px;
  top:220px;
  width:77px;
  height:29px;
  color:#00CC00;
}
#u57210 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u57211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57211 {
  position:absolute;
  left:0px;
  top:270px;
  width:413px;
  height:191px;
}
#u57212 {
  position:absolute;
  left:2px;
  top:88px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57213 {
  position:absolute;
  left:65px;
  top:322px;
  width:225px;
  height:16px;
}
#u57214 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u57215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57215 {
  position:absolute;
  left:296px;
  top:370px;
  width:85px;
  height:16px;
}
#u57216 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u57217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57217 {
  position:absolute;
  left:267px;
  top:403px;
  width:132px;
  height:16px;
}
#u57218 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u57219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57219 {
  position:absolute;
  left:16px;
  top:114px;
  width:148px;
  height:16px;
}
#u57220 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u57221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u57221 {
  position:absolute;
  left:0px;
  top:153px;
  width:414px;
  height:1px;
}
#u57222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57223 {
  position:absolute;
  left:16px;
  top:168px;
  width:127px;
  height:16px;
}
#u57224 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u57225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u57225 {
  position:absolute;
  left:0px;
  top:207px;
  width:414px;
  height:1px;
}
#u57226 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:92px;
}
#u57227 {
  position:absolute;
  left:301px;
  top:282px;
  width:83px;
  height:92px;
}
#u57228 {
  position:absolute;
  left:2px;
  top:38px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
