body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3964 {
  position:absolute;
  left:10px;
  top:20px;
  width:991px;
  height:110px;
  color:#7F7F7F;
}
#u3965 {
  position:absolute;
  left:2px;
  top:47px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:2px;
}
#u3966 {
  position:absolute;
  left:33px;
  top:107px;
  width:488px;
  height:1px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3968 {
  position:absolute;
  left:30px;
  top:60px;
  width:85px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3969 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3970 {
  position:absolute;
  left:144px;
  top:60px;
  width:85px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3971 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3972 {
  position:absolute;
  left:255px;
  top:60px;
  width:85px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3973 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3974 {
  position:absolute;
  left:364px;
  top:60px;
  width:85px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3975 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
  background:inherit;
  background-color:rgba(48, 177, 155, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3976 {
  position:absolute;
  left:475px;
  top:60px;
  width:85px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3977 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3978 {
  position:absolute;
  left:10px;
  top:140px;
  width:991px;
  height:360px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:172px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980 {
  position:absolute;
  left:33px;
  top:160px;
  width:705px;
  height:125px;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3982 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
}
#u3983 {
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3984 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
}
#u3987 {
  position:absolute;
  left:200px;
  top:60px;
  width:500px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  word-wrap:break-word;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3989 {
  position:absolute;
  left:288px;
  top:360px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:30px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3991 {
  position:absolute;
  left:30px;
  top:550px;
  width:289px;
  height:30px;
}
#u3992 {
  position:absolute;
  left:10px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
