body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20945 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u20946 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20947 {
  position:absolute;
  left:44px;
  top:42px;
  width:844px;
  height:490px;
}
#u20948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20948 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20949 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20950 {
  position:absolute;
  left:168px;
  top:0px;
  width:671px;
  height:45px;
}
#u20951 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20952 {
  position:absolute;
  left:0px;
  top:45px;
  width:168px;
  height:45px;
}
#u20953 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20954 {
  position:absolute;
  left:168px;
  top:45px;
  width:671px;
  height:45px;
}
#u20955 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20956 {
  position:absolute;
  left:0px;
  top:90px;
  width:168px;
  height:45px;
}
#u20957 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20958 {
  position:absolute;
  left:168px;
  top:90px;
  width:671px;
  height:45px;
}
#u20959 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20960 {
  position:absolute;
  left:0px;
  top:135px;
  width:168px;
  height:45px;
}
#u20961 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20962 {
  position:absolute;
  left:168px;
  top:135px;
  width:671px;
  height:45px;
}
#u20963 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20964 {
  position:absolute;
  left:0px;
  top:180px;
  width:168px;
  height:45px;
}
#u20965 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20966 {
  position:absolute;
  left:168px;
  top:180px;
  width:671px;
  height:45px;
}
#u20967 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20968 {
  position:absolute;
  left:0px;
  top:225px;
  width:168px;
  height:45px;
}
#u20969 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20970 {
  position:absolute;
  left:168px;
  top:225px;
  width:671px;
  height:45px;
}
#u20971 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u20972 {
  position:absolute;
  left:0px;
  top:270px;
  width:168px;
  height:45px;
}
#u20973 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u20974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u20974 {
  position:absolute;
  left:168px;
  top:270px;
  width:671px;
  height:45px;
}
#u20975 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:170px;
}
#u20976 {
  position:absolute;
  left:0px;
  top:315px;
  width:168px;
  height:170px;
}
#u20977 {
  position:absolute;
  left:2px;
  top:77px;
  width:164px;
  word-wrap:break-word;
}
#u20978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:170px;
}
#u20978 {
  position:absolute;
  left:168px;
  top:315px;
  width:671px;
  height:170px;
}
#u20979 {
  position:absolute;
  left:2px;
  top:77px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20980 {
  position:absolute;
  left:44px;
  top:526px;
  width:839px;
  height:46px;
}
#u20981 {
  position:absolute;
  left:2px;
  top:15px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20982 {
  position:absolute;
  left:413px;
  top:531px;
  width:121px;
  height:35px;
}
#u20983 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u20984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u20984 {
  position:absolute;
  left:44px;
  top:597px;
  width:785px;
  height:25px;
  color:#000000;
}
#u20985 {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  word-wrap:break-word;
}
#u20986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20986 {
  position:absolute;
  left:225px;
  top:372px;
  width:591px;
  height:131px;
}
#u20987 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  word-wrap:break-word;
}
#u20988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20988 {
  position:absolute;
  left:225px;
  top:61px;
  width:57px;
  height:16px;
}
#u20989 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20990 {
  position:absolute;
  left:225px;
  top:102px;
  width:43px;
  height:16px;
}
#u20991 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20992 {
  position:absolute;
  left:225px;
  top:145px;
  width:33px;
  height:16px;
}
#u20993 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20994 {
  position:absolute;
  left:225px;
  top:192px;
  width:25px;
  height:16px;
}
#u20995 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20996 {
  position:absolute;
  left:229px;
  top:238px;
  width:9px;
  height:16px;
}
#u20997 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20998 {
  position:absolute;
  left:225px;
  top:283px;
  width:41px;
  height:16px;
}
#u20999 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21000 {
  position:absolute;
  left:225px;
  top:327px;
  width:75px;
  height:16px;
}
#u21001 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
