body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45968 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u45969 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:2px;
}
#u45970 {
  position:absolute;
  left:72px;
  top:79px;
  width:488px;
  height:1px;
}
#u45971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(48, 177, 155, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u45972 {
  position:absolute;
  left:69px;
  top:32px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u45973 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u45974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u45974 {
  position:absolute;
  left:183px;
  top:32px;
  width:80px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u45975 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u45976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45976 {
  position:absolute;
  left:110px;
  top:110px;
  width:330px;
  height:33px;
}
#u45977 {
  position:absolute;
  left:2px;
  top:8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u45978 {
  position:absolute;
  left:300px;
  top:310px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u45979 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u45980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u45980 {
  position:absolute;
  left:458px;
  top:310px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u45981 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u45982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u45982 {
  position:absolute;
  left:150px;
  top:410px;
  width:410px;
  height:150px;
}
#u45983 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
