body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48962 {
  position:absolute;
  left:-163px;
  top:-158px;
  width:991px;
  height:620px;
}
#u48963 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48964 {
  position:absolute;
  left:43px;
  top:24px;
  width:844px;
  height:465px;
}
#u48965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48965 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48966 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u48967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48967 {
  position:absolute;
  left:168px;
  top:0px;
  width:671px;
  height:45px;
}
#u48968 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:85px;
}
#u48969 {
  position:absolute;
  left:0px;
  top:45px;
  width:168px;
  height:85px;
}
#u48970 {
  position:absolute;
  left:2px;
  top:35px;
  width:164px;
  word-wrap:break-word;
}
#u48971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:85px;
}
#u48971 {
  position:absolute;
  left:168px;
  top:45px;
  width:671px;
  height:85px;
}
#u48972 {
  position:absolute;
  left:2px;
  top:34px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:85px;
}
#u48973 {
  position:absolute;
  left:0px;
  top:130px;
  width:168px;
  height:85px;
}
#u48974 {
  position:absolute;
  left:2px;
  top:35px;
  width:164px;
  word-wrap:break-word;
}
#u48975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:85px;
}
#u48975 {
  position:absolute;
  left:168px;
  top:130px;
  width:671px;
  height:85px;
}
#u48976 {
  position:absolute;
  left:2px;
  top:34px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48977 {
  position:absolute;
  left:0px;
  top:215px;
  width:168px;
  height:45px;
}
#u48978 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u48979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48979 {
  position:absolute;
  left:168px;
  top:215px;
  width:671px;
  height:45px;
}
#u48980 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:200px;
}
#u48981 {
  position:absolute;
  left:0px;
  top:260px;
  width:168px;
  height:200px;
}
#u48982 {
  position:absolute;
  left:2px;
  top:92px;
  width:164px;
  word-wrap:break-word;
}
#u48983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:200px;
}
#u48983 {
  position:absolute;
  left:168px;
  top:260px;
  width:671px;
  height:200px;
}
#u48984 {
  position:absolute;
  left:2px;
  top:92px;
  width:667px;
  word-wrap:break-word;
}
#u48985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48985 {
  position:absolute;
  left:343px;
  top:254px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u48986 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u48987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48987 {
  position:absolute;
  left:246px;
  top:134px;
  width:88px;
  height:16px;
}
#u48988 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u48989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48989 {
  position:absolute;
  left:249px;
  top:219px;
  width:88px;
  height:16px;
}
#u48990 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u48991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:58px;
}
#u48991 {
  position:absolute;
  left:231px;
  top:74px;
  width:119px;
  height:58px;
}
#u48992 {
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:58px;
}
#u48993 {
  position:absolute;
  left:233px;
  top:159px;
  width:119px;
  height:58px;
}
#u48994 {
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48995 {
  position:absolute;
  left:230px;
  top:42px;
  width:60px;
  height:16px;
  font-size:13px;
}
#u48996 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u48997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48997 {
  position:absolute;
  left:232px;
  top:254px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u48998 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u48999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48999 {
  position:absolute;
  left:367px;
  top:254px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u49000 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u49001 {
  position:absolute;
  left:421px;
  top:532px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u49002 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
