body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47935 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u47936 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47938 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:130px;
}
#u47939 {
  position:absolute;
  left:2px;
  top:57px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47940 {
  position:absolute;
  left:10px;
  top:150px;
  width:991px;
  height:510px;
}
#u47941 {
  position:absolute;
  left:2px;
  top:247px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u47942 {
  position:absolute;
  left:473px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u47943 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u47944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u47944 {
  position:absolute;
  left:522px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u47945 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u47946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(225, 233, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 233, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u47946 {
  position:absolute;
  left:580px;
  top:610px;
  width:20px;
  height:29px;
  color:#FF9900;
}
#u47947 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u47948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u47948 {
  position:absolute;
  left:606px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u47949 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u47950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u47950 {
  position:absolute;
  left:633px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u47951 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u47952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u47952 {
  position:absolute;
  left:663px;
  top:617px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u47953 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u47954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u47954 {
  position:absolute;
  left:693px;
  top:610px;
  width:30px;
  height:29px;
  color:#999999;
}
#u47955 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u47956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47956 {
  position:absolute;
  left:730px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u47957 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u47958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47958 {
  position:absolute;
  left:788px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u47959 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u47960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47960 {
  position:absolute;
  left:839px;
  top:610px;
  width:60px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u47961 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47962 {
  position:absolute;
  left:845px;
  top:618px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u47963 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u47964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u47964 {
  position:absolute;
  left:881px;
  top:613px;
  width:18px;
  height:23px;
}
#u47965 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47966 {
  position:absolute;
  left:910px;
  top:610px;
  width:35px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u47967 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u47968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u47968 {
  position:absolute;
  left:952px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u47969 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u47970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47970 {
  position:absolute;
  left:116px;
  top:68px;
  width:184px;
  height:33px;
}
#u47971 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47972 {
  position:absolute;
  left:31px;
  top:76px;
  width:85px;
  height:16px;
}
#u47973 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u47974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47974 {
  position:absolute;
  left:309px;
  top:77px;
  width:71px;
  height:16px;
}
#u47975 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u47976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47976 {
  position:absolute;
  left:376px;
  top:69px;
  width:160px;
  height:33px;
}
#u47977 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47978 {
  position:absolute;
  left:512px;
  top:76px;
  width:20px;
  height:20px;
}
#u47979 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u47980 {
  position:absolute;
  left:543px;
  top:80px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u47981 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u47982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47982 {
  position:absolute;
  left:564px;
  top:69px;
  width:160px;
  height:33px;
}
#u47983 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47984 {
  position:absolute;
  left:700px;
  top:76px;
  width:20px;
  height:20px;
}
#u47985 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 67, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47986 {
  position:absolute;
  left:750px;
  top:69px;
  width:50px;
  height:30px;
}
#u47987 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u47988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u47988 {
  position:absolute;
  left:820px;
  top:69px;
  width:50px;
  height:30px;
  color:#F44336;
}
#u47989 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u47990 {
  position:absolute;
  left:24px;
  top:207px;
  width:996px;
  height:365px;
}
#u47991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u47991 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u47992 {
  position:absolute;
  left:2px;
  top:15px;
  width:126px;
  word-wrap:break-word;
}
#u47993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u47993 {
  position:absolute;
  left:130px;
  top:0px;
  width:125px;
  height:45px;
}
#u47994 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u47995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u47995 {
  position:absolute;
  left:255px;
  top:0px;
  width:125px;
  height:45px;
}
#u47996 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u47997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u47997 {
  position:absolute;
  left:380px;
  top:0px;
  width:70px;
  height:45px;
}
#u47998 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u47999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u47999 {
  position:absolute;
  left:450px;
  top:0px;
  width:70px;
  height:45px;
}
#u48000 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48001 {
  position:absolute;
  left:520px;
  top:0px;
  width:70px;
  height:45px;
}
#u48002 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48003 {
  position:absolute;
  left:590px;
  top:0px;
  width:110px;
  height:45px;
}
#u48004 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48005 {
  position:absolute;
  left:700px;
  top:0px;
  width:170px;
  height:45px;
}
#u48006 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48007 {
  position:absolute;
  left:870px;
  top:0px;
  width:121px;
  height:45px;
}
#u48008 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48009 {
  position:absolute;
  left:0px;
  top:45px;
  width:130px;
  height:45px;
}
#u48010 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48011 {
  position:absolute;
  left:130px;
  top:45px;
  width:125px;
  height:45px;
}
#u48012 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48013 {
  position:absolute;
  left:255px;
  top:45px;
  width:125px;
  height:45px;
}
#u48014 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48015 {
  position:absolute;
  left:380px;
  top:45px;
  width:70px;
  height:45px;
}
#u48016 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48017 {
  position:absolute;
  left:450px;
  top:45px;
  width:70px;
  height:45px;
}
#u48018 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48019 {
  position:absolute;
  left:520px;
  top:45px;
  width:70px;
  height:45px;
}
#u48020 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48021 {
  position:absolute;
  left:590px;
  top:45px;
  width:110px;
  height:45px;
}
#u48022 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48023 {
  position:absolute;
  left:700px;
  top:45px;
  width:170px;
  height:45px;
}
#u48024 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48025 {
  position:absolute;
  left:870px;
  top:45px;
  width:121px;
  height:45px;
}
#u48026 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48027 {
  position:absolute;
  left:0px;
  top:90px;
  width:130px;
  height:45px;
}
#u48028 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48029 {
  position:absolute;
  left:130px;
  top:90px;
  width:125px;
  height:45px;
}
#u48030 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48031 {
  position:absolute;
  left:255px;
  top:90px;
  width:125px;
  height:45px;
}
#u48032 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48033 {
  position:absolute;
  left:380px;
  top:90px;
  width:70px;
  height:45px;
}
#u48034 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48035 {
  position:absolute;
  left:450px;
  top:90px;
  width:70px;
  height:45px;
}
#u48036 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48037 {
  position:absolute;
  left:520px;
  top:90px;
  width:70px;
  height:45px;
}
#u48038 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48039 {
  position:absolute;
  left:590px;
  top:90px;
  width:110px;
  height:45px;
}
#u48040 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48041 {
  position:absolute;
  left:700px;
  top:90px;
  width:170px;
  height:45px;
}
#u48042 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48043 {
  position:absolute;
  left:870px;
  top:90px;
  width:121px;
  height:45px;
}
#u48044 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48045 {
  position:absolute;
  left:0px;
  top:135px;
  width:130px;
  height:45px;
}
#u48046 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48047 {
  position:absolute;
  left:130px;
  top:135px;
  width:125px;
  height:45px;
}
#u48048 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48049 {
  position:absolute;
  left:255px;
  top:135px;
  width:125px;
  height:45px;
}
#u48050 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48051 {
  position:absolute;
  left:380px;
  top:135px;
  width:70px;
  height:45px;
}
#u48052 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48053 {
  position:absolute;
  left:450px;
  top:135px;
  width:70px;
  height:45px;
}
#u48054 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48055 {
  position:absolute;
  left:520px;
  top:135px;
  width:70px;
  height:45px;
}
#u48056 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48057 {
  position:absolute;
  left:590px;
  top:135px;
  width:110px;
  height:45px;
}
#u48058 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48059 {
  position:absolute;
  left:700px;
  top:135px;
  width:170px;
  height:45px;
}
#u48060 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48061 {
  position:absolute;
  left:870px;
  top:135px;
  width:121px;
  height:45px;
}
#u48062 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48063 {
  position:absolute;
  left:0px;
  top:180px;
  width:130px;
  height:45px;
}
#u48064 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48065 {
  position:absolute;
  left:130px;
  top:180px;
  width:125px;
  height:45px;
}
#u48066 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48067 {
  position:absolute;
  left:255px;
  top:180px;
  width:125px;
  height:45px;
}
#u48068 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48069 {
  position:absolute;
  left:380px;
  top:180px;
  width:70px;
  height:45px;
}
#u48070 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48071 {
  position:absolute;
  left:450px;
  top:180px;
  width:70px;
  height:45px;
}
#u48072 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48073 {
  position:absolute;
  left:520px;
  top:180px;
  width:70px;
  height:45px;
}
#u48074 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48075 {
  position:absolute;
  left:590px;
  top:180px;
  width:110px;
  height:45px;
}
#u48076 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48077 {
  position:absolute;
  left:700px;
  top:180px;
  width:170px;
  height:45px;
}
#u48078 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48079 {
  position:absolute;
  left:870px;
  top:180px;
  width:121px;
  height:45px;
}
#u48080 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48081 {
  position:absolute;
  left:0px;
  top:225px;
  width:130px;
  height:45px;
}
#u48082 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48083 {
  position:absolute;
  left:130px;
  top:225px;
  width:125px;
  height:45px;
}
#u48084 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48085 {
  position:absolute;
  left:255px;
  top:225px;
  width:125px;
  height:45px;
}
#u48086 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48087 {
  position:absolute;
  left:380px;
  top:225px;
  width:70px;
  height:45px;
}
#u48088 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48089 {
  position:absolute;
  left:450px;
  top:225px;
  width:70px;
  height:45px;
}
#u48090 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48091 {
  position:absolute;
  left:520px;
  top:225px;
  width:70px;
  height:45px;
}
#u48092 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48093 {
  position:absolute;
  left:590px;
  top:225px;
  width:110px;
  height:45px;
}
#u48094 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48095 {
  position:absolute;
  left:700px;
  top:225px;
  width:170px;
  height:45px;
}
#u48096 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48097 {
  position:absolute;
  left:870px;
  top:225px;
  width:121px;
  height:45px;
}
#u48098 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48099 {
  position:absolute;
  left:0px;
  top:270px;
  width:130px;
  height:45px;
}
#u48100 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48101 {
  position:absolute;
  left:130px;
  top:270px;
  width:125px;
  height:45px;
}
#u48102 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48103 {
  position:absolute;
  left:255px;
  top:270px;
  width:125px;
  height:45px;
}
#u48104 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48105 {
  position:absolute;
  left:380px;
  top:270px;
  width:70px;
  height:45px;
}
#u48106 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48107 {
  position:absolute;
  left:450px;
  top:270px;
  width:70px;
  height:45px;
}
#u48108 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48109 {
  position:absolute;
  left:520px;
  top:270px;
  width:70px;
  height:45px;
}
#u48110 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48111 {
  position:absolute;
  left:590px;
  top:270px;
  width:110px;
  height:45px;
}
#u48112 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48113 {
  position:absolute;
  left:700px;
  top:270px;
  width:170px;
  height:45px;
}
#u48114 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48115 {
  position:absolute;
  left:870px;
  top:270px;
  width:121px;
  height:45px;
}
#u48116 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u48117 {
  position:absolute;
  left:0px;
  top:315px;
  width:130px;
  height:45px;
}
#u48118 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48119 {
  position:absolute;
  left:130px;
  top:315px;
  width:125px;
  height:45px;
}
#u48120 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u48121 {
  position:absolute;
  left:255px;
  top:315px;
  width:125px;
  height:45px;
}
#u48122 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u48123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48123 {
  position:absolute;
  left:380px;
  top:315px;
  width:70px;
  height:45px;
}
#u48124 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48125 {
  position:absolute;
  left:450px;
  top:315px;
  width:70px;
  height:45px;
}
#u48126 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u48127 {
  position:absolute;
  left:520px;
  top:315px;
  width:70px;
  height:45px;
}
#u48128 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u48129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u48129 {
  position:absolute;
  left:590px;
  top:315px;
  width:110px;
  height:45px;
}
#u48130 {
  position:absolute;
  left:2px;
  top:15px;
  width:106px;
  word-wrap:break-word;
}
#u48131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u48131 {
  position:absolute;
  left:700px;
  top:315px;
  width:170px;
  height:45px;
}
#u48132 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u48133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u48133 {
  position:absolute;
  left:870px;
  top:315px;
  width:121px;
  height:45px;
}
#u48134 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u48135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 83, 48, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48135 {
  position:absolute;
  left:26px;
  top:165px;
  width:107px;
  height:32px;
}
#u48136 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u48137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48137 {
  position:absolute;
  left:93px;
  top:261px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48138 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48139 {
  position:absolute;
  left:41px;
  top:261px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48140 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48141 {
  position:absolute;
  left:41px;
  top:308px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48142 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48143 {
  position:absolute;
  left:41px;
  top:353px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48144 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48145 {
  position:absolute;
  left:41px;
  top:396px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48146 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48147 {
  position:absolute;
  left:41px;
  top:443px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48148 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48149 {
  position:absolute;
  left:41px;
  top:488px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48150 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u48151 {
  position:absolute;
  left:41px;
  top:533px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#FF0000;
}
#u48152 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u48153 {
  position:absolute;
  left:300px;
  top:685px;
  width:342px;
  height:49px;
}
#u48154 {
  position:absolute;
  left:10px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u48155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48155 {
  position:absolute;
  left:93px;
  top:308px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48156 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48157 {
  position:absolute;
  left:93px;
  top:353px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48158 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48159 {
  position:absolute;
  left:93px;
  top:396px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48160 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48161 {
  position:absolute;
  left:93px;
  top:443px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48162 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48163 {
  position:absolute;
  left:93px;
  top:488px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48164 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u48165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 163, 197, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#3A5EAD;
}
#u48165 {
  position:absolute;
  left:93px;
  top:533px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#3A5EAD;
}
#u48166 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
