body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47415 {
  position:absolute;
  left:43px;
  top:37px;
  width:935px;
  height:400px;
}
#u47416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47416 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u47417 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u47418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:45px;
}
#u47418 {
  position:absolute;
  left:168px;
  top:0px;
  width:762px;
  height:45px;
}
#u47419 {
  position:absolute;
  left:2px;
  top:14px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:200px;
}
#u47420 {
  position:absolute;
  left:0px;
  top:45px;
  width:168px;
  height:200px;
}
#u47421 {
  position:absolute;
  left:2px;
  top:92px;
  width:164px;
  word-wrap:break-word;
}
#u47422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:200px;
}
#u47422 {
  position:absolute;
  left:168px;
  top:45px;
  width:762px;
  height:200px;
}
#u47423 {
  position:absolute;
  left:2px;
  top:92px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:150px;
}
#u47424 {
  position:absolute;
  left:0px;
  top:245px;
  width:168px;
  height:150px;
}
#u47425 {
  position:absolute;
  left:2px;
  top:68px;
  width:164px;
  word-wrap:break-word;
}
#u47426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:150px;
}
#u47426 {
  position:absolute;
  left:168px;
  top:245px;
  width:762px;
  height:150px;
}
#u47427 {
  position:absolute;
  left:2px;
  top:67px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:199px;
}
#u47428 {
  position:absolute;
  left:212px;
  top:83px;
  width:760px;
  height:199px;
}
#u47429 {
  position:absolute;
  left:2px;
  top:92px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:126px;
}
#u47430 {
  position:absolute;
  left:227px;
  top:135px;
  width:734px;
  height:126px;
}
#u47431 {
  position:absolute;
  left:2px;
  top:25px;
  width:730px;
  word-wrap:break-word;
}
#u47432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u47432 {
  position:absolute;
  left:225px;
  top:51px;
  width:40px;
  height:16px;
  text-align:center;
}
#u47433 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u47434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:136px;
}
#u47434 {
  position:absolute;
  left:213px;
  top:282px;
  width:760px;
  height:136px;
}
#u47435 {
  position:absolute;
  left:2px;
  top:60px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47436 {
  position:absolute;
  left:227px;
  top:330px;
  width:733px;
  height:32px;
}
#u47437 {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u47438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u47438 {
  position:absolute;
  left:484px;
  top:484px;
  width:132px;
  height:40px;
  font-size:16px;
}
#u47439 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
