body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48929 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u48930 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48931 {
  position:absolute;
  left:43px;
  top:24px;
  width:844px;
  height:355px;
}
#u48932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48932 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48933 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u48934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48934 {
  position:absolute;
  left:168px;
  top:0px;
  width:671px;
  height:45px;
}
#u48935 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:85px;
}
#u48936 {
  position:absolute;
  left:0px;
  top:45px;
  width:168px;
  height:85px;
}
#u48937 {
  position:absolute;
  left:2px;
  top:35px;
  width:164px;
  word-wrap:break-word;
}
#u48938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:85px;
}
#u48938 {
  position:absolute;
  left:168px;
  top:45px;
  width:671px;
  height:85px;
}
#u48939 {
  position:absolute;
  left:2px;
  top:34px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:85px;
}
#u48940 {
  position:absolute;
  left:0px;
  top:130px;
  width:168px;
  height:85px;
}
#u48941 {
  position:absolute;
  left:2px;
  top:35px;
  width:164px;
  word-wrap:break-word;
}
#u48942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:85px;
}
#u48942 {
  position:absolute;
  left:168px;
  top:130px;
  width:671px;
  height:85px;
}
#u48943 {
  position:absolute;
  left:2px;
  top:34px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48944 {
  position:absolute;
  left:0px;
  top:215px;
  width:168px;
  height:45px;
}
#u48945 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u48946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48946 {
  position:absolute;
  left:168px;
  top:215px;
  width:671px;
  height:45px;
}
#u48947 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48948 {
  position:absolute;
  left:0px;
  top:260px;
  width:168px;
  height:45px;
}
#u48949 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u48950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48950 {
  position:absolute;
  left:168px;
  top:260px;
  width:671px;
  height:45px;
}
#u48951 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u48952 {
  position:absolute;
  left:0px;
  top:305px;
  width:168px;
  height:45px;
}
#u48953 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u48954 {
  position:absolute;
  left:168px;
  top:305px;
  width:671px;
  height:45px;
}
#u48955 {
  position:absolute;
  left:2px;
  top:14px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48956 {
  position:absolute;
  left:343px;
  top:254px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u48957 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u48958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48958 {
  position:absolute;
  left:43px;
  top:328px;
  width:839px;
  height:46px;
}
#u48959 {
  position:absolute;
  left:2px;
  top:15px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48960 {
  position:absolute;
  left:374px;
  top:333px;
  width:121px;
  height:35px;
}
#u48961 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u48962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48962 {
  position:absolute;
  left:43px;
  top:381px;
  width:785px;
  height:64px;
}
#u48963 {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  word-wrap:break-word;
}
#u48964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48964 {
  position:absolute;
  left:246px;
  top:134px;
  width:88px;
  height:16px;
}
#u48965 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u48966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48966 {
  position:absolute;
  left:249px;
  top:219px;
  width:88px;
  height:16px;
}
#u48967 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u48968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:58px;
}
#u48968 {
  position:absolute;
  left:231px;
  top:74px;
  width:119px;
  height:58px;
}
#u48969 {
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:58px;
}
#u48970 {
  position:absolute;
  left:233px;
  top:159px;
  width:119px;
  height:58px;
}
#u48971 {
  position:absolute;
  left:2px;
  top:21px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48972 {
  position:absolute;
  left:230px;
  top:42px;
  width:60px;
  height:16px;
  font-size:13px;
}
#u48973 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u48974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48974 {
  position:absolute;
  left:232px;
  top:254px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u48975 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u48976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48976 {
  position:absolute;
  left:367px;
  top:254px;
  width:101px;
  height:16px;
  font-size:13px;
}
#u48977 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u48978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u48978 {
  position:absolute;
  left:232px;
  top:299px;
  width:276px;
  height:16px;
  font-size:13px;
}
#u48979 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
