body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42210 {
  position:absolute;
  left:99px;
  top:67px;
  width:625px;
  height:140px;
}
#u42211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u42211 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u42212 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u42213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42213 {
  position:absolute;
  left:120px;
  top:0px;
  width:500px;
  height:45px;
}
#u42214 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u42215 {
  position:absolute;
  left:0px;
  top:45px;
  width:120px;
  height:45px;
}
#u42216 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u42217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42217 {
  position:absolute;
  left:120px;
  top:45px;
  width:500px;
  height:45px;
}
#u42218 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u42219 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:45px;
}
#u42220 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42221 {
  position:absolute;
  left:120px;
  top:90px;
  width:500px;
  height:45px;
}
#u42222 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42223 {
  position:absolute;
  left:99px;
  top:157px;
  width:620px;
  height:45px;
}
#u42224 {
  position:absolute;
  left:2px;
  top:14px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42225 {
  position:absolute;
  left:229px;
  top:74px;
  width:200px;
  height:33px;
}
#u42226 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u42227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42227 {
  position:absolute;
  left:282px;
  top:162px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42228 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42229 {
  position:absolute;
  left:418px;
  top:163px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42230 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42231 {
  position:absolute;
  left:229px;
  top:127px;
  width:47px;
  height:16px;
}
#u42232 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u42231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42233 {
  position:absolute;
  left:286px;
  top:127px;
  width:53px;
  height:16px;
}
#u42234 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u42233_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
