body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21974 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u21975 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21977 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:130px;
}
#u21978 {
  position:absolute;
  left:2px;
  top:57px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21979 {
  position:absolute;
  left:10px;
  top:150px;
  width:991px;
  height:510px;
}
#u21980 {
  position:absolute;
  left:2px;
  top:247px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u21981 {
  position:absolute;
  left:473px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u21982 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u21983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u21983 {
  position:absolute;
  left:522px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u21984 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u21985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(225, 233, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 233, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u21985 {
  position:absolute;
  left:580px;
  top:610px;
  width:20px;
  height:29px;
  color:#FF9900;
}
#u21986 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u21987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21987 {
  position:absolute;
  left:606px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u21988 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u21989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21989 {
  position:absolute;
  left:633px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u21990 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u21991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21991 {
  position:absolute;
  left:663px;
  top:617px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21992 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u21993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21993 {
  position:absolute;
  left:693px;
  top:610px;
  width:30px;
  height:29px;
  color:#999999;
}
#u21994 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u21995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u21995 {
  position:absolute;
  left:730px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u21996 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u21997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u21997 {
  position:absolute;
  left:788px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u21998 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u21999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u21999 {
  position:absolute;
  left:839px;
  top:610px;
  width:60px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u22000 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u22001 {
  position:absolute;
  left:845px;
  top:618px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u22002 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u22003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u22003 {
  position:absolute;
  left:881px;
  top:613px;
  width:18px;
  height:23px;
}
#u22004 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u22005 {
  position:absolute;
  left:910px;
  top:610px;
  width:35px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u22006 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u22007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u22007 {
  position:absolute;
  left:952px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u22008 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u22009 {
  position:absolute;
  left:20px;
  top:83px;
  width:1166px;
  height:234px;
}
#u22010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:43px;
}
#u22010 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:43px;
}
#u22011 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u22012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:43px;
}
#u22012 {
  position:absolute;
  left:121px;
  top:0px;
  width:115px;
  height:43px;
}
#u22013 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u22014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:43px;
}
#u22014 {
  position:absolute;
  left:236px;
  top:0px;
  width:121px;
  height:43px;
}
#u22015 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u22016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u22016 {
  position:absolute;
  left:357px;
  top:0px;
  width:125px;
  height:43px;
}
#u22017 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u22018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u22018 {
  position:absolute;
  left:482px;
  top:0px;
  width:125px;
  height:43px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u22020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u22020 {
  position:absolute;
  left:607px;
  top:0px;
  width:129px;
  height:43px;
}
#u22021 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u22022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u22022 {
  position:absolute;
  left:736px;
  top:0px;
  width:129px;
  height:43px;
}
#u22023 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u22024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
}
#u22024 {
  position:absolute;
  left:865px;
  top:0px;
  width:126px;
  height:43px;
}
#u22025 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u22026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u22026 {
  position:absolute;
  left:991px;
  top:0px;
  width:170px;
  height:43px;
}
#u22027 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u22028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u22028 {
  position:absolute;
  left:0px;
  top:43px;
  width:121px;
  height:51px;
}
#u22029 {
  position:absolute;
  left:2px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u22030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:51px;
}
#u22030 {
  position:absolute;
  left:121px;
  top:43px;
  width:115px;
  height:51px;
}
#u22031 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u22032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u22032 {
  position:absolute;
  left:236px;
  top:43px;
  width:121px;
  height:51px;
}
#u22033 {
  position:absolute;
  left:2px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u22034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:51px;
}
#u22034 {
  position:absolute;
  left:357px;
  top:43px;
  width:125px;
  height:51px;
}
#u22035 {
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u22036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:51px;
}
#u22036 {
  position:absolute;
  left:482px;
  top:43px;
  width:125px;
  height:51px;
}
#u22037 {
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u22038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u22038 {
  position:absolute;
  left:607px;
  top:43px;
  width:129px;
  height:51px;
}
#u22039 {
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u22040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u22040 {
  position:absolute;
  left:736px;
  top:43px;
  width:129px;
  height:51px;
}
#u22041 {
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u22042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u22042 {
  position:absolute;
  left:865px;
  top:43px;
  width:126px;
  height:51px;
}
#u22043 {
  position:absolute;
  left:2px;
  top:18px;
  width:122px;
  word-wrap:break-word;
}
#u22044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u22044 {
  position:absolute;
  left:991px;
  top:43px;
  width:170px;
  height:51px;
  color:#1E1E1E;
}
#u22045 {
  position:absolute;
  left:2px;
  top:18px;
  width:166px;
  word-wrap:break-word;
}
#u22046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22046 {
  position:absolute;
  left:0px;
  top:94px;
  width:121px;
  height:45px;
}
#u22047 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u22048 {
  position:absolute;
  left:121px;
  top:94px;
  width:115px;
  height:45px;
}
#u22049 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u22050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22050 {
  position:absolute;
  left:236px;
  top:94px;
  width:121px;
  height:45px;
}
#u22051 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22052 {
  position:absolute;
  left:357px;
  top:94px;
  width:125px;
  height:45px;
}
#u22053 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22054 {
  position:absolute;
  left:482px;
  top:94px;
  width:125px;
  height:45px;
}
#u22055 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22056 {
  position:absolute;
  left:607px;
  top:94px;
  width:129px;
  height:45px;
}
#u22057 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22058 {
  position:absolute;
  left:736px;
  top:94px;
  width:129px;
  height:45px;
}
#u22059 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u22060 {
  position:absolute;
  left:865px;
  top:94px;
  width:126px;
  height:45px;
}
#u22061 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u22062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u22062 {
  position:absolute;
  left:991px;
  top:94px;
  width:170px;
  height:45px;
  color:#1E1E1E;
}
#u22063 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u22064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22064 {
  position:absolute;
  left:0px;
  top:139px;
  width:121px;
  height:45px;
}
#u22065 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u22066 {
  position:absolute;
  left:121px;
  top:139px;
  width:115px;
  height:45px;
}
#u22067 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u22068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22068 {
  position:absolute;
  left:236px;
  top:139px;
  width:121px;
  height:45px;
}
#u22069 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22070 {
  position:absolute;
  left:357px;
  top:139px;
  width:125px;
  height:45px;
}
#u22071 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22072 {
  position:absolute;
  left:482px;
  top:139px;
  width:125px;
  height:45px;
}
#u22073 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22074 {
  position:absolute;
  left:607px;
  top:139px;
  width:129px;
  height:45px;
}
#u22075 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22076 {
  position:absolute;
  left:736px;
  top:139px;
  width:129px;
  height:45px;
}
#u22077 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u22078 {
  position:absolute;
  left:865px;
  top:139px;
  width:126px;
  height:45px;
}
#u22079 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u22080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u22080 {
  position:absolute;
  left:991px;
  top:139px;
  width:170px;
  height:45px;
  color:#1E1E1E;
}
#u22081 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
#u22082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22082 {
  position:absolute;
  left:0px;
  top:184px;
  width:121px;
  height:45px;
}
#u22083 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u22084 {
  position:absolute;
  left:121px;
  top:184px;
  width:115px;
  height:45px;
}
#u22085 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u22086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u22086 {
  position:absolute;
  left:236px;
  top:184px;
  width:121px;
  height:45px;
}
#u22087 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u22088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22088 {
  position:absolute;
  left:357px;
  top:184px;
  width:125px;
  height:45px;
}
#u22089 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u22090 {
  position:absolute;
  left:482px;
  top:184px;
  width:125px;
  height:45px;
}
#u22091 {
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u22092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22092 {
  position:absolute;
  left:607px;
  top:184px;
  width:129px;
  height:45px;
}
#u22093 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22094 {
  position:absolute;
  left:736px;
  top:184px;
  width:129px;
  height:45px;
}
#u22095 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u22096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u22096 {
  position:absolute;
  left:865px;
  top:184px;
  width:126px;
  height:45px;
}
#u22097 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u22098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u22098 {
  position:absolute;
  left:991px;
  top:184px;
  width:170px;
  height:45px;
  color:#1E1E1E;
}
#u22099 {
  position:absolute;
  left:2px;
  top:15px;
  width:166px;
  word-wrap:break-word;
}
