body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42018 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u42019 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42020 {
  position:absolute;
  left:99px;
  top:67px;
  width:655px;
  height:140px;
}
#u42021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42021 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42022 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u42023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42023 {
  position:absolute;
  left:150px;
  top:0px;
  width:500px;
  height:45px;
}
#u42024 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42025 {
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
  color:#000000;
}
#u42026 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u42027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42027 {
  position:absolute;
  left:150px;
  top:45px;
  width:500px;
  height:45px;
}
#u42028 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42029 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:45px;
}
#u42030 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u42031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42031 {
  position:absolute;
  left:150px;
  top:90px;
  width:500px;
  height:45px;
}
#u42032 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42033 {
  position:absolute;
  left:268px;
  top:74px;
  width:200px;
  height:33px;
}
#u42034 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42035 {
  position:absolute;
  left:324px;
  top:218px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42036 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42037 {
  position:absolute;
  left:460px;
  top:219px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42038 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42039 {
  position:absolute;
  left:268px;
  top:172px;
  width:47px;
  height:16px;
}
#u42040 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u42039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42041 {
  position:absolute;
  left:325px;
  top:172px;
  width:53px;
  height:16px;
}
#u42042 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u42041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u42043 {
  position:absolute;
  left:175px;
  top:351px;
  width:293px;
  height:150px;
}
#u42044 {
  position:absolute;
  left:10px;
  top:10px;
  width:273px;
  word-wrap:break-word;
}
#u42045 {
  position:absolute;
  left:498px;
  top:83px;
  width:129px;
  height:16px;
}
#u42046 {
  position:absolute;
  left:16px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u42045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42047 {
  position:absolute;
  left:268px;
  top:127px;
  width:144px;
  height:16px;
}
#u42048 {
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u42047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42049 {
  position:absolute;
  left:422px;
  top:127px;
  width:144px;
  height:16px;
}
#u42050 {
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u42049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42051 {
  position:absolute;
  left:585px;
  top:127px;
  width:144px;
  height:16px;
}
#u42052 {
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u42051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
