body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u53879 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u53880 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53881 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u53882 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u53883 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53884 {
  position:absolute;
  left:154px;
  top:10px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53885 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u53886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u53886 {
  position:absolute;
  left:358px;
  top:6px;
  width:41px;
  height:32px;
}
#u53887 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53889 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u53890 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:55px;
  background:inherit;
  background-color:rgba(67, 154, 254, 0.847058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53891 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:55px;
}
#u53892 {
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53893 {
  position:absolute;
  left:0px;
  top:109px;
  width:414px;
  height:137px;
}
#u53894 {
  position:absolute;
  left:2px;
  top:60px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53895 {
  position:absolute;
  left:16px;
  top:118px;
  width:153px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53896 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u53897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u53897 {
  position:absolute;
  left:0px;
  top:206px;
  width:414px;
  height:1px;
}
#u53898 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53899 {
  position:absolute;
  left:16px;
  top:161px;
  width:129px;
  height:16px;
  color:#666666;
}
#u53900 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u53901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53901 {
  position:absolute;
  left:16px;
  top:139px;
  width:160px;
  height:16px;
  color:#666666;
}
#u53902 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53903 {
  position:absolute;
  left:16px;
  top:183px;
  width:226px;
  height:16px;
  color:#666666;
}
#u53904 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u53905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53905 {
  position:absolute;
  left:0px;
  top:256px;
  width:414px;
  height:137px;
}
#u53906 {
  position:absolute;
  left:2px;
  top:60px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53907 {
  position:absolute;
  left:16px;
  top:265px;
  width:153px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53908 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u53909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u53909 {
  position:absolute;
  left:0px;
  top:353px;
  width:414px;
  height:1px;
}
#u53910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53911 {
  position:absolute;
  left:16px;
  top:308px;
  width:129px;
  height:16px;
  color:#666666;
}
#u53912 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u53913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53913 {
  position:absolute;
  left:16px;
  top:286px;
  width:160px;
  height:16px;
  color:#666666;
}
#u53914 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53915 {
  position:absolute;
  left:0px;
  top:403px;
  width:414px;
  height:137px;
}
#u53916 {
  position:absolute;
  left:2px;
  top:60px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53917 {
  position:absolute;
  left:16px;
  top:412px;
  width:153px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53918 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u53919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u53919 {
  position:absolute;
  left:0px;
  top:500px;
  width:414px;
  height:1px;
}
#u53920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53921 {
  position:absolute;
  left:16px;
  top:455px;
  width:129px;
  height:16px;
  color:#666666;
}
#u53922 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u53923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53923 {
  position:absolute;
  left:16px;
  top:433px;
  width:160px;
  height:16px;
  color:#666666;
}
#u53924 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53925 {
  position:absolute;
  left:0px;
  top:550px;
  width:414px;
  height:137px;
}
#u53926 {
  position:absolute;
  left:2px;
  top:60px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53927 {
  position:absolute;
  left:16px;
  top:559px;
  width:153px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53928 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u53929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u53929 {
  position:absolute;
  left:0px;
  top:647px;
  width:414px;
  height:1px;
}
#u53930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53931 {
  position:absolute;
  left:16px;
  top:602px;
  width:129px;
  height:16px;
  color:#666666;
}
#u53932 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u53933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53933 {
  position:absolute;
  left:16px;
  top:580px;
  width:160px;
  height:16px;
  color:#666666;
}
#u53934 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53935 {
  position:absolute;
  left:16px;
  top:330px;
  width:226px;
  height:16px;
  color:#666666;
}
#u53936 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u53937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53937 {
  position:absolute;
  left:16px;
  top:475px;
  width:226px;
  height:16px;
  color:#666666;
}
#u53938 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u53939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u53939 {
  position:absolute;
  left:16px;
  top:625px;
  width:226px;
  height:16px;
  color:#666666;
}
#u53940 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u53941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 154, 254, 0.847058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53941 {
  position:absolute;
  left:335px;
  top:55px;
  width:62px;
  height:33px;
  color:#FFFFFF;
}
#u53942 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  word-wrap:break-word;
}
#u53943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53943 {
  position:absolute;
  left:203px;
  top:63px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u53944 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u53945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53945 {
  position:absolute;
  left:264px;
  top:63px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u53946 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u53947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53947 {
  position:absolute;
  left:112px;
  top:63px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u53948 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53949 {
  position:absolute;
  left:18px;
  top:63px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u53950 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u53951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53951 {
  position:absolute;
  left:16px;
  top:215px;
  width:129px;
  height:16px;
}
#u53952 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u53953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53953 {
  position:absolute;
  left:252px;
  top:215px;
  width:145px;
  height:16px;
}
#u53954 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u53955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53955 {
  position:absolute;
  left:16px;
  top:362px;
  width:129px;
  height:16px;
}
#u53956 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u53957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53957 {
  position:absolute;
  left:252px;
  top:362px;
  width:145px;
  height:16px;
}
#u53958 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u53959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53959 {
  position:absolute;
  left:16px;
  top:509px;
  width:129px;
  height:16px;
}
#u53960 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u53961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53961 {
  position:absolute;
  left:252px;
  top:509px;
  width:145px;
  height:16px;
}
#u53962 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u53963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53963 {
  position:absolute;
  left:16px;
  top:656px;
  width:129px;
  height:16px;
}
#u53964 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u53965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53965 {
  position:absolute;
  left:252px;
  top:656px;
  width:145px;
  height:16px;
}
#u53966 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
