body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42730 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u42731 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42732 {
  position:absolute;
  left:99px;
  top:67px;
  width:655px;
  height:140px;
}
#u42733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42733 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42734 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u42735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42735 {
  position:absolute;
  left:150px;
  top:0px;
  width:500px;
  height:45px;
}
#u42736 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42737 {
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
}
#u42738 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u42739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42739 {
  position:absolute;
  left:150px;
  top:45px;
  width:500px;
  height:45px;
}
#u42740 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42741 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:45px;
}
#u42742 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42743 {
  position:absolute;
  left:150px;
  top:90px;
  width:500px;
  height:45px;
}
#u42744 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42745 {
  position:absolute;
  left:99px;
  top:157px;
  width:650px;
  height:45px;
}
#u42746 {
  position:absolute;
  left:2px;
  top:14px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42747 {
  position:absolute;
  left:268px;
  top:74px;
  width:200px;
  height:33px;
}
#u42748 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u42749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42749 {
  position:absolute;
  left:321px;
  top:162px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42750 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42751 {
  position:absolute;
  left:457px;
  top:163px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42752 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42753 {
  position:absolute;
  left:267px;
  top:127px;
  width:47px;
  height:16px;
}
#u42754 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u42753_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42755 {
  position:absolute;
  left:324px;
  top:127px;
  width:53px;
  height:16px;
}
#u42756 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u42755_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
