body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1153px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23698 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:130px;
}
#u23699 {
  position:absolute;
  left:2px;
  top:57px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23700 {
  position:absolute;
  left:10px;
  top:150px;
  width:991px;
  height:510px;
}
#u23701 {
  position:absolute;
  left:2px;
  top:247px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u23702 {
  position:absolute;
  left:473px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u23703 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u23704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u23704 {
  position:absolute;
  left:522px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#CCCCCC;
}
#u23705 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u23706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(225, 233, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 233, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u23706 {
  position:absolute;
  left:580px;
  top:610px;
  width:20px;
  height:29px;
  color:#FF9900;
}
#u23707 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u23708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u23708 {
  position:absolute;
  left:606px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u23709 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u23710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u23710 {
  position:absolute;
  left:633px;
  top:610px;
  width:20px;
  height:29px;
  color:#999999;
}
#u23711 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  word-wrap:break-word;
}
#u23712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23712 {
  position:absolute;
  left:663px;
  top:617px;
  width:24px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23713 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u23714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u23714 {
  position:absolute;
  left:693px;
  top:610px;
  width:30px;
  height:29px;
  color:#999999;
}
#u23715 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u23716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23716 {
  position:absolute;
  left:730px;
  top:610px;
  width:48px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u23717 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u23718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23718 {
  position:absolute;
  left:788px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u23719 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u23720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23720 {
  position:absolute;
  left:839px;
  top:610px;
  width:60px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u23721 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23722 {
  position:absolute;
  left:845px;
  top:618px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u23723 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u23724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u23724 {
  position:absolute;
  left:881px;
  top:613px;
  width:18px;
  height:23px;
}
#u23725 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23726 {
  position:absolute;
  left:910px;
  top:610px;
  width:35px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u23727 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u23728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23728 {
  position:absolute;
  left:952px;
  top:610px;
  width:40px;
  height:29px;
  font-size:11px;
  color:#666666;
}
#u23729 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u23730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23730 {
  position:absolute;
  left:20px;
  top:28px;
  width:73px;
  height:18px;
}
#u23731 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23732 {
  position:absolute;
  left:93px;
  top:26px;
  width:158px;
  height:22px;
}
#u23732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23732_input:disabled {
  color:grayText;
}
#u23733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23733 {
  position:absolute;
  left:503px;
  top:28px;
  width:73px;
  height:18px;
}
#u23734 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23735 {
  position:absolute;
  left:592px;
  top:26px;
  width:160px;
  height:33px;
}
#u23736 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23737 {
  position:absolute;
  left:728px;
  top:33px;
  width:20px;
  height:20px;
}
#u23738 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23739 {
  position:absolute;
  left:759px;
  top:37px;
  width:14px;
  height:15px;
  font-size:13px;
}
#u23740 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u23741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23741 {
  position:absolute;
  left:780px;
  top:26px;
  width:160px;
  height:33px;
}
#u23742 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23743 {
  position:absolute;
  left:592px;
  top:69px;
  width:226px;
  height:227px;
  overflow:hidden;
  visibility:hidden;
}
#u23743_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:227px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23743_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u23744 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  height:221px;
}
#u23745 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23746 {
  position:absolute;
  left:735px;
  top:69px;
  width:226px;
  height:227px;
  overflow:hidden;
  visibility:hidden;
}
#u23746_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:227px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23746_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u23747 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  height:221px;
}
#u23748 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 67, 54, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23749 {
  position:absolute;
  left:864px;
  top:88px;
  width:50px;
  height:30px;
}
#u23750 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u23751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 67, 54, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F44336;
}
#u23751 {
  position:absolute;
  left:941px;
  top:88px;
  width:50px;
  height:30px;
  color:#F44336;
}
#u23752 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u23753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23753 {
  position:absolute;
  left:272px;
  top:30px;
  width:73px;
  height:18px;
}
#u23754 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23755 {
  position:absolute;
  left:345px;
  top:28px;
  width:137px;
  height:22px;
}
#u23755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23755_input:disabled {
  color:grayText;
}
#u23756 {
  position:absolute;
  left:20px;
  top:201px;
  width:1138px;
  height:283px;
}
#u23757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u23757 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u23758 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u23759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u23759 {
  position:absolute;
  left:186px;
  top:0px;
  width:188px;
  height:36px;
}
#u23760 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u23761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u23761 {
  position:absolute;
  left:374px;
  top:0px;
  width:189px;
  height:36px;
}
#u23762 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u23763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
}
#u23763 {
  position:absolute;
  left:563px;
  top:0px;
  width:198px;
  height:36px;
}
#u23764 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u23765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u23765 {
  position:absolute;
  left:761px;
  top:0px;
  width:186px;
  height:36px;
}
#u23766 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u23767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u23767 {
  position:absolute;
  left:947px;
  top:0px;
  width:186px;
  height:36px;
}
#u23768 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u23769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23769 {
  position:absolute;
  left:0px;
  top:36px;
  width:186px;
  height:30px;
}
#u23770 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23771 {
  position:absolute;
  left:186px;
  top:36px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23772 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23774 {
  position:absolute;
  left:374px;
  top:36px;
  width:189px;
  height:30px;
}
#u23775 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23776 {
  position:absolute;
  left:563px;
  top:36px;
  width:198px;
  height:30px;
}
#u23777 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23778 {
  position:absolute;
  left:761px;
  top:36px;
  width:186px;
  height:30px;
}
#u23779 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23780 {
  position:absolute;
  left:947px;
  top:36px;
  width:186px;
  height:30px;
}
#u23781 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23782 {
  position:absolute;
  left:0px;
  top:66px;
  width:186px;
  height:30px;
}
#u23783 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23784 {
  position:absolute;
  left:186px;
  top:66px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23785 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23787 {
  position:absolute;
  left:374px;
  top:66px;
  width:189px;
  height:30px;
}
#u23788 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23789 {
  position:absolute;
  left:563px;
  top:66px;
  width:198px;
  height:30px;
}
#u23790 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23791 {
  position:absolute;
  left:761px;
  top:66px;
  width:186px;
  height:30px;
}
#u23792 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23793 {
  position:absolute;
  left:947px;
  top:66px;
  width:186px;
  height:30px;
}
#u23794 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23795 {
  position:absolute;
  left:0px;
  top:96px;
  width:186px;
  height:30px;
}
#u23796 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23797 {
  position:absolute;
  left:186px;
  top:96px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23798 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23800 {
  position:absolute;
  left:374px;
  top:96px;
  width:189px;
  height:30px;
}
#u23801 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23802 {
  position:absolute;
  left:563px;
  top:96px;
  width:198px;
  height:30px;
}
#u23803 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23804 {
  position:absolute;
  left:761px;
  top:96px;
  width:186px;
  height:30px;
}
#u23805 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23806 {
  position:absolute;
  left:947px;
  top:96px;
  width:186px;
  height:30px;
}
#u23807 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
}
#u23808 {
  position:absolute;
  left:0px;
  top:126px;
  width:186px;
  height:32px;
}
#u23809 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
}
#u23810 {
  position:absolute;
  left:186px;
  top:126px;
  width:188px;
  height:32px;
}
#u23811 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u23812 {
  position:absolute;
  left:374px;
  top:126px;
  width:189px;
  height:32px;
}
#u23813 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
}
#u23814 {
  position:absolute;
  left:563px;
  top:126px;
  width:198px;
  height:32px;
}
#u23815 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
}
#u23816 {
  position:absolute;
  left:761px;
  top:126px;
  width:186px;
  height:32px;
}
#u23817 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
}
#u23818 {
  position:absolute;
  left:947px;
  top:126px;
  width:186px;
  height:32px;
}
#u23819 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23820 {
  position:absolute;
  left:0px;
  top:158px;
  width:186px;
  height:30px;
}
#u23821 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23822 {
  position:absolute;
  left:186px;
  top:158px;
  width:188px;
  height:30px;
}
#u23823 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23824 {
  position:absolute;
  left:374px;
  top:158px;
  width:189px;
  height:30px;
}
#u23825 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23826 {
  position:absolute;
  left:563px;
  top:158px;
  width:198px;
  height:30px;
}
#u23827 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23828 {
  position:absolute;
  left:761px;
  top:158px;
  width:186px;
  height:30px;
}
#u23829 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23830 {
  position:absolute;
  left:947px;
  top:158px;
  width:186px;
  height:30px;
}
#u23831 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23832 {
  position:absolute;
  left:0px;
  top:188px;
  width:186px;
  height:30px;
}
#u23833 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23834 {
  position:absolute;
  left:186px;
  top:188px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23835 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23837 {
  position:absolute;
  left:374px;
  top:188px;
  width:189px;
  height:30px;
}
#u23838 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23839 {
  position:absolute;
  left:563px;
  top:188px;
  width:198px;
  height:30px;
}
#u23840 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23841 {
  position:absolute;
  left:761px;
  top:188px;
  width:186px;
  height:30px;
}
#u23842 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23843 {
  position:absolute;
  left:947px;
  top:188px;
  width:186px;
  height:30px;
}
#u23844 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23845 {
  position:absolute;
  left:0px;
  top:218px;
  width:186px;
  height:30px;
}
#u23846 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23847 {
  position:absolute;
  left:186px;
  top:218px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23848 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23850 {
  position:absolute;
  left:374px;
  top:218px;
  width:189px;
  height:30px;
}
#u23851 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23852 {
  position:absolute;
  left:563px;
  top:218px;
  width:198px;
  height:30px;
}
#u23853 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23854 {
  position:absolute;
  left:761px;
  top:218px;
  width:186px;
  height:30px;
}
#u23855 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23856 {
  position:absolute;
  left:947px;
  top:218px;
  width:186px;
  height:30px;
}
#u23857 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23858 {
  position:absolute;
  left:0px;
  top:248px;
  width:186px;
  height:30px;
}
#u23859 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u23860 {
  position:absolute;
  left:186px;
  top:248px;
  width:188px;
  height:30px;
  color:#0000FF;
}
#u23861 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u23863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u23863 {
  position:absolute;
  left:374px;
  top:248px;
  width:189px;
  height:30px;
}
#u23864 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u23865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u23865 {
  position:absolute;
  left:563px;
  top:248px;
  width:198px;
  height:30px;
}
#u23866 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u23867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23867 {
  position:absolute;
  left:761px;
  top:248px;
  width:186px;
  height:30px;
}
#u23868 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u23869 {
  position:absolute;
  left:947px;
  top:248px;
  width:186px;
  height:30px;
}
#u23870 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u23871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23871 {
  position:absolute;
  left:98px;
  top:514px;
  width:329px;
  height:127px;
}
#u23872 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  word-wrap:break-word;
}
#u23873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23873 {
  position:absolute;
  left:29px;
  top:162px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23874 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u23875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23875 {
  position:absolute;
  left:105px;
  top:162px;
  width:139px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23876 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u23877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23877 {
  position:absolute;
  left:286px;
  top:162px;
  width:139px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23878 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u23879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23879 {
  position:absolute;
  left:478px;
  top:162px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23880 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
