body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:737px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 154, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#439AFE;
}
#u52818 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  color:#439AFE;
}
#u52819 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52820 {
  position:absolute;
  left:6px;
  top:8px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u52821 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u52822 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52823 {
  position:absolute;
  left:154px;
  top:10px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52824 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u52825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u52825 {
  position:absolute;
  left:358px;
  top:6px;
  width:41px;
  height:32px;
}
#u52826 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:672px;
  background:inherit;
  background-color:rgba(245, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52828 {
  position:absolute;
  left:0px;
  top:44px;
  width:414px;
  height:672px;
}
#u52829 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52830 {
  position:absolute;
  left:28px;
  top:130px;
  width:10px;
  height:16px;
}
#u52831 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u52832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52832 {
  position:absolute;
  left:0px;
  top:156px;
  width:414px;
  height:84px;
}
#u52833 {
  position:absolute;
  left:2px;
  top:34px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52834 {
  position:absolute;
  left:25px;
  top:167px;
  width:67px;
  height:16px;
}
#u52835 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u52836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52836 {
  position:absolute;
  left:25px;
  top:209px;
  width:67px;
  height:16px;
}
#u52837 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u52838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52838 {
  position:absolute;
  left:28px;
  top:250px;
  width:10px;
  height:16px;
}
#u52839 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u52840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52840 {
  position:absolute;
  left:0px;
  top:276px;
  width:414px;
  height:44px;
}
#u52841 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52842 {
  position:absolute;
  left:25px;
  top:287px;
  width:43px;
  height:16px;
}
#u52843 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u52844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52844 {
  position:absolute;
  left:22px;
  top:61px;
  width:372px;
  height:30px;
}
#u52845 {
  position:absolute;
  left:2px;
  top:7px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52846 {
  position:absolute;
  left:437px;
  top:68px;
  width:300px;
  height:16px;
}
#u52847 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u52848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u52848 {
  position:absolute;
  left:29px;
  top:101px;
  width:376px;
  height:40px;
  color:#999999;
}
#u52849 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  word-wrap:break-word;
}
#u52850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
}
#u52850 {
  position:absolute;
  left:7px;
  top:198px;
  width:411px;
  height:1px;
}
#u52851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u52852 {
  position:absolute;
  left:360px;
  top:66px;
  width:22px;
  height:22px;
}
#u52853 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
