body {
  margin:0px;
  background-color:rgba(237, 251, 237, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42243 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:620px;
}
#u42244 {
  position:absolute;
  left:2px;
  top:302px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42245 {
  position:absolute;
  left:99px;
  top:67px;
  width:655px;
  height:140px;
}
#u42246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42246 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42247 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u42248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42248 {
  position:absolute;
  left:150px;
  top:0px;
  width:500px;
  height:45px;
}
#u42249 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42250 {
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
}
#u42251 {
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u42252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42252 {
  position:absolute;
  left:150px;
  top:45px;
  width:500px;
  height:45px;
}
#u42253 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u42254 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:45px;
}
#u42255 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u42256 {
  position:absolute;
  left:150px;
  top:90px;
  width:500px;
  height:45px;
}
#u42257 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(218, 218, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42258 {
  position:absolute;
  left:99px;
  top:157px;
  width:650px;
  height:45px;
}
#u42259 {
  position:absolute;
  left:2px;
  top:14px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 223, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42260 {
  position:absolute;
  left:268px;
  top:74px;
  width:200px;
  height:33px;
}
#u42261 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u42262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42262 {
  position:absolute;
  left:321px;
  top:162px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42263 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(186, 196, 197, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42264 {
  position:absolute;
  left:457px;
  top:163px;
  width:103px;
  height:33px;
  font-size:16px;
}
#u42265 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u42266 {
  position:absolute;
  left:267px;
  top:127px;
  width:47px;
  height:16px;
}
#u42267 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u42266_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42268 {
  position:absolute;
  left:324px;
  top:127px;
  width:53px;
  height:16px;
}
#u42269 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u42268_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
